div class="modal fade" id="modal_responses_download" 
  div class="modal-dialog modal-lg modal-dialog-centered" role="document"
    div class="modal-content"
      div class="modal-header"
        h5 class="modal-title" Responses Download
        button type="button" class="close" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" &times;
      div class="modal-body"
        div class="container" id="div-content"

javascript:
  $('#modal_responses_download').on('show.bs.modal', function(e) {
    var survey_id = $(e.relatedTarget).data('origin_id');
    var modal = $(this);
    $.get("/survey/" + survey_id + "/responses_detail/", function(response, status) {
      var str = "";
      if (response.length == 0) {
        str += "<p>The survey hasn't received any response yet.</p>";
      } else {
        str += "<table class='table table-borderless'>";
        $.each(response, function(i, wave) {
          var start_time = new Date(wave[0]);
          str += "<tr>";
          str += '<td><p>Wave '+ ++i + '. </p></td>';
          str += "<td><p class='text-muted'>Started at: " + start_time;
          str += "<br>Number of Responses: " + wave[3] + "</p></td>";
          str += "<td><a href='/survey/" + survey_id + "/download/" + wave[1] + "/" + wave[2] + ".csv' class='btn btn-outline-dark align-middle'>";
          str += "<i class='fas fa-download' /></a></td></tr>";
        });
        str += "</table>";
      }
      modal.find('#div-content').html(str);
    });
  });