div.modal.fade id="modal_share_collaborator" tabindex="-1" role="dialog"
  div.modal-dialog.modal-dialog-centered role="document"
    div.modal-content
      div.modal-header
        h5.modal-title Share Survey with Collaborators
        button.close type="button" data-dismiss="modal" aria-label="Close"
          span aria-hidden="true" ×
      div.modal-body
        form#share-collab-form
          input#share-survey-id type="hidden" name="survey_id"
          div.form-group
            label Enter user email to share with:
            input.form-control name="email" type="email" required=true
          button.btn.btn-primary.mt-2 type="submit" Add Collaborator
        hr
        p.text-muted.mt-3 Current collaborators:
        ul#collaborators-list
          li.loading Loading...
      div.modal-footer
        button.btn.btn-secondary type="button" data-dismiss="modal" Close
