- unless surveys.nil?
  - surveys.reverse_each.with_index do |survey, index|
    .row.justify-content-center.mt-3
      .col-10.col-sm-10.col-md-8.border
        .my-3.d-flex
          .d-inline-flex.align-middle
            h3.mb-auto = survey.title

          button.btn.btn-outline-dark.border-0.ml-2.d-inline-flex.align-middle data-toggle="modal" data-target="#modal_survey_settings" data-survey_id=survey.id data-survey_title=survey.title
            i.fas.fa-cog

          - if survey.can_add_codesigners?
            button.btn.btn-outline-dark.border-0.ml-2.d-inline-flex.align-middle data-toggle="modal" data-target="#modal_share_codesigner" data-survey_id=survey.id data-designers-info=(survey.designers_info.to_json.gsub('"','&quot;') if survey.designers_info)
              i.fas.fa-user-plus

          button.btn.btn-outline-dark.border-0.ml-auto.d-inline-flex.align-middle data-toggle="dropdown"
            i.fas.fa-chevron-down
          .dropdown-menu
            - if survey.can_delete?
              a.dropdown-item href="#" onclick="confirmDeleteSurvey('#{survey.id}', '#{survey.title}')" Delete
            a.dropdown-item href="#" data-origin_id=survey.origin_id data-toggle="modal" data-target="#modal_copy_survey" Copy

        p.text-muted
          small Created at: #{survey.created_at}

        .dropdown.mb-2
          button.btn.btn-sm.btn-outline-secondary.text-muted.dropdown-toggle data-toggle="dropdown"
            - random = JSON.parse(survey[:options])['random'] rescue 'none'
            - case random
            - when 'none'
              | No Random
            - when 'items_across_pages', 'all_items'
              | Random Items Across Pages
            - when 'items_within_pages'
              | Random Items Within Pages
            - else
              | Randomization
          .dropdown-menu
            a.dropdown-item href="#" onclick="updateOptions('#{survey.id}', 'random', 'none')" No Random
            a.dropdown-item href="#" onclick="updateOptions('#{survey.id}', 'random', 'items_across_pages')" Random Items Across Pages
            a.dropdown-item href="#" onclick="updateOptions('#{survey.id}', 'random', 'items_within_pages')" Random Items Within Pages

        .row.d-flex
          .mb-3.pl-3
            button.btn.btn-dark.mr-1.mt-1 type="button" data-toggle="modal" data-target="#modal_survey_editor" data-origin_id=survey.origin_id
              i.fas.fa-edit
              | &nbsp;Edit

            a.btn.btn-outline-dark.mr-1.mt-1 target="_blank" href=survey.spreadsheet_url
              i.fas.fa-external-link-alt
              | &nbsp;Edit in Google Sheets

            a.btn.btn-outline-info.mr-1.mt-1 target="_blank" href=survey.preview_url
              i.fas.fa-eye
              | &nbsp;Preview

            button.btn.btn-outline-info.mr-1.mt-1 type="button" data-toggle="modal" data-target="#modal_responses_download" data-origin_id=survey.id
              i.fas.fa-download
              | &nbsp;Download

          .mt-1.mb-3.mx-3
            .input-group
              - if survey.state == 'started'
                .input-group-prepend
                  a.btn.btn-outline-primary href="/survey/#{survey.id}/close" id="startbtn-#{survey.id}"
                    i.far.fa-stop-circle
                    | &nbsp;Close Survey
                input.form-control type="text" id="input-#{index}" readonly=true value=survey.launch_url
                .input-group-append
                  button.btn.btn-secondary onclick="copyURL('input-#{index}')" data-toggle="tooltip" title="Copy to Clipboard"
                    i.fas.fa-copy
                  a.btn.btn-secondary target="_blank" href=survey.launch_url
                    i.fas.fa-external-link-alt
              - else
                a.btn.btn-primary href="/survey/#{survey.id}/start" id="startbtn-#{survey.id}"
                  i.fas.fa-play-circle
                  | &nbsp;Start Survey
== render :modal_waiting

include :modal_copy_survey
include :modal_survey_settings
include :modal_survey_editor
include :modal_responses_download
include :modal_add_codesigner

javascript:
  $("input[type='text']").on("click", function () {
    $(this).select();
  });

  function copyURL(input) {
    $('#' + input).select();
    document.execCommand("copy");
  }

  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })

  function confirmDeleteSurvey(survey_id, survey_title) {
    if (confirm('Are you sure to delete "' + survey_title + '"?')) {
      $('#modal_waiting').modal();
      $.ajax({
        url: "/survey/" + survey_id,
        type: 'DELETE',
        success: function(result) {
          alert(result.message);
          location.reload();
        },
      error: function(xhr) {
        $('#modal_waiting').modal('hide'); 
        let msg = 'Failed to delete survey';
        try {
          const res = JSON.parse(xhr.responseText);
          if (res.message) msg = res.message;
        } catch (_) {}
        alert(msg); 
      }
      });
    }
  }

  $('#modal_copy_survey').on('show.bs.modal', function(e) {
    var origin_id = $(e.relatedTarget).data('origin_id');
    
    $('#survey_copy_form').on('submit', function(e) {
      e.preventDefault();
      $('#modal_copy_survey').modal('hide');
      
      var title = $(e.currentTarget).find('input[name="title"]').val();
      copySurvey(origin_id, title);
    });
  });

  function copySurvey(origin_id, title) {
    $('#modal_waiting').modal();
    $.ajax({
      url: "/survey_list/copy/" + origin_id,
      type: 'POST',
      data: { title: title },
      success: function(result) {
        location.reload();
      }
    });
  }

  $('#btn-create-survey').on('click', function (e) {
    $('#modal_create_survey').modal('hide');
    $('#modal_waiting').modal();
  });

  $('#btn-save-settings').on('click', function (e) {
    $('#modal_survey_settings').modal('hide');
    $('#modal_waiting').modal();
  });

  $('.dropdown-menu a').on('click', function(e) {
    var chosed_text = e.currentTarget.innerText
    $(this).parents('.dropdown').find('.dropdown-toggle').text(chosed_text)
  });

  function updateOptions(survey_id, option, option_value) {
    $.ajax({
      url: "/survey/" + survey_id + "/update_options",
      type: 'POST',
      data: { option: option,
              option_value: option_value },
      success: function(result) {
        location.reload();
      }
    });
  }
