doctype html
html
  head
    title SurveyMoonbear
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    / Bootstrap CSS and theme (Yeti Theme)
    link {
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/yeti/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-yAYSLJjzniZh9Kau9E1v1ma5CzvyHF8fPK/xUpaRx1XTH9r60WxzDivvHG3xm6Hn" 
      crossorigin="anonymous"
    }

    link {
      rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
      crossorigin="anonymous"
    }

    / Custom CSS
    / link rel='stylesheet' href='/presentation/assets/css/style.css'
    == assets(:css)
  body
    / JQuery and Bootstrap JS
    script {
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
      crossorigin="anonymous"
    }
    script {
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
      crossorigin="anonymous"
    }
    script {
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" 
      crossorigin="anonymous"
    }

    .container id='html_body'
      section class="mt-3 mb-5"
        / include :flash_bar

        div class='row justify-content-center'
          h1 class="col-md-10 my-4" #{survey.title}
          div id='div-alert' class="col-md-10"
        div class='row justify-content-center'
          div class='bg-light col-md-10 shadow'
            div class='container py-3' id='div_form'
              form id="form" action="/onlinesurvey/#{survey.id}/#{survey.launch_id}/submit" method="post"
                input type="hidden" name="moonbear_start_time"
                input type="hidden" name="moonbear_end_time"

              - if pages.length > 1
                nav aria-label="Page navigation example" id="page_nav"
                  ul class="pagination d-flex justify-content-between" 
                    li class="page-item disabled" id="page_pre"
                      a class="page-link" href="javascript:void(0)" onclick="pre_page()" aria-label="Previous"
                        span aria-hidden="true" &larr; Previous
                        span class="sr-only" Previous
                    
                    li class="page-item active" id="page_next"
                      a class="page-link" href="javascript:void(0)" onclick="next_page()" aria-label="Next"
                        span aria-hidden="true" Next &rarr;
                        span class="sr-only" Next

javascript:
  /* Build the whole survey html with created page htmls */
  var current_page_str = '';
  $.each(#{{pages}}, function(i, page){
    // Create page-div for the page (only 1st page visible)
    if (i > 0) {
      $('#form').append("<div class='d-none' id='page_" + ++i + "'></div>");
    } else {
      $('#form').append("<div id='page_" + ++i + "'></div>");
    }

    // Append page-html to page-div
    current_page_str = "<div class='d-flex justify-content-end'><p>page " + i + "/" + #{{pages}}.length + "</p></div>";
    $('#page_' + i).append(current_page_str);
    $('#page_' + i).append(page);
    
    // Append submit btn to last page
    if(i == #{{pages}}.length) {
      button_str = "<button type='submit' class='btn btn-primary my-3 float-right' id='btn-submit'>Submit</button>"
      $('#page_' + i).append(button_str);
    }
  });

  /* Handle pages prev/next (pages show & hidden) */
  var page = 1;
  function next_page() {
    var required_flag = true;
    $('#page_' + page +' input.required').each(function (e) {
      if (this.value == '') {
        required_flag = false;
        return false;
      }
    });
    
    if (required_flag == true) {
      $('.alert').alert('close');
      $('#page_' + page).addClass('d-none');
      $('#page_' + ++page).removeClass('d-none');
      if (page >= #{{pages}}.length) {
        $('#page_next').addClass('disabled');
      }
      $('#page_pre').removeClass('disabled');
      location.href = '#page_' + page;
    } else {
      var str = '<div class="alert alert-warning alert-dismissible fade show" role="alert">';
      str += 'Please answer all questions marked with a "*" before going to next page .';
      str += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
      str += '<span aria-hidden="true">&times;</span>';
      str += '</button>'
      str += '</div>';
      $('#div-alert').html(str);
    }
    window.scrollTo(0, 0);
  }

  function pre_page() {
    $('#page_' + page).addClass('d-none');
    $('#page_' + --page).removeClass('d-none');
    if (page === 1) {
      $('#page_pre').addClass('disabled');
    }
    $('#page_next').removeClass('disabled');
    location.href = '#page_' + page;
    window.scrollTo(0, 0);
  }

  /* Response event listeners */
  $('.vas-unclicked').click(function (e) {
    $(this).removeClass('vas-unclicked');
  });

  $('input[type=checkbox]').click(function (e) {
    var type_name = $(this).prop('name');
    updateCheckboxHiddenInput(type_name);
  });

  function updateCheckboxHiddenInput(type_name) {
    var checkbox_answers_str = joinCheckboxAnswersWithComma(type_name);

    var input_name = type_name.substr(9, type_name.length);
    $('input[name='+input_name+']').val(checkbox_answers_str);
  }

  function joinCheckboxAnswersWithComma(type_name) {
    var checkbox_answers_str = $("input[name=" + type_name + "]:checked").map(function () {
      return this.value;
    }).get().join(', ');

    return checkbox_answers_str;
  }

  $('input[type=radio]').click(function (e) {
    var type_name = $(this).prop('name');
    updateRadioHiddenInput(type_name, this.value);
  });

  function updateRadioHiddenInput(type_name, value) {
    var input_name = type_name.substr(6, type_name.length);
    $('input[name='+input_name+']').val(value);
  }

  $('input.vas-unclicked').click(function (e) {
    var type_name = $(this).prop('name');
    var input_name = type_name.substr(4, type_name.length);
    $('input[name='+input_name+']').val(this.value);
  });

  $('.other-text').on('keyup', function(e) { 
    var other_text = this.value;
    var other_option = $(this).siblings('.other-option');
    $(other_option).val(other_text);

    var type_name = $(other_option).prop('name');
    if ($(other_option).is(':checked') && type_name.includes('checkbox')) {
      updateCheckboxHiddenInput(type_name);
    }
    if ($(other_option).is(':checked') && type_name.includes('radio')) {
      updateRadioHiddenInput(type_name, other_text);
    }
  });

  $('#form').on('submit', function() {
    $('<input />').attr('type', 'hidden')
                  .attr('name', "moonbear_url_params")
                  .attr('value', JSON.stringify(#{{url_params}}))
                  .appendTo('#form');

    var flag = true;
    $('input[name=moonbear_end_time]').val(new Date());
    $('input.required').each(function (e) {
      if (this.value == '') {
        flag = false;
        return false;
      } else {
        flag = true;
      }
    });
    
    if (flag == false) {
      window.scrollTo(0, 0);
      var str = '<div class="alert alert-warning alert-dismissible fade show" role="alert">';
      str += 'Please answer all questions marked with a "*" before submitting.';
      str += '<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
      str += '<span aria-hidden="true">&times;</span>';
      str += '</button>'
      str += '</div>';
      $('#div-alert').html(str);
    }
    return flag;
  });

  /* Survey document init with start time */
  $(document).ready(function() {
    $('input[name=moonbear_start_time]').val(new Date());
  });

css:
  .vas-unclicked::-webkit-slider-thumb {
    background: rgba(0, 0, 0, 0);
  }
