doctype html
html
  head
    title SurveyMoonbear Report
    meta charset="UTF-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    / Bootstrap CSS and theme (Yeti Theme)
    link {
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/yeti/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-yAYSLJjzniZh9Kau9E1v1ma5CzvyHF8fPK/xUpaRx1XTH9r60WxzDivvHG3xm6Hn" 
      crossorigin="anonymous"
    }

    link {
      rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" 
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" 
      crossorigin="anonymous"
    }

    == assets(:css)
  body style="background-color: #FBFDFF;"
    / JQuery and Bootstrap JS
    script {
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
      crossorigin="anonymous"
    }
    script {
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
      crossorigin="anonymous"
    }
    script {
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
      integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" 
      crossorigin="anonymous"
    }
    script src="https://cdn.plot.ly/plotly-2.11.1.min.js"

    .col-12 id='html_body'
      section class="mt-3 mb-5"
        / include :flash_bar

        / - if vis_report_object.show_enter_id 
        /   div class='row justify-content-center'
        /     div class="card w-50"
        /       div class="card-body"
        /         h5 class="card-title" Enter your school ID
        /         form action="/visual_report/#{visual_report.id}/online/#{visual_report.origin_id}" method="post"
        /           div class="form-group"
        /             input type="text" class="form-control" id="respondent" name="respondent" placeholder="e.g., 109078507"
        /             br
        /             button type="submit" class="btn btn-primary" id="btn-create" Enter
        / - else
        div class='justify-content-center'
          div class="col-md-10 m-auto"
            h1 class="text-dark font-weight-bold" #{vis_report_object.title}

            div class='shadow m-auto p-5'
              div class='flex'
                div class="tab-content"
                  div role="tabpanel" class="tab-pane active" style="width:100%; overflow:auto" id="visual" 
                  div class='flex'
                    div class="tab-content"
                      div role="tabpanel" class="tab-pane active" id="visual"
                      - if categorize_score_type
                        - categorize_score_type.each do |key, value|
                          h4 class="text-primary mb-3 font-weight-bold" #{title[key]}
                          div class="d-flex m-2 mb-4" style="width:100%; overflow:auto"
                            - for j in value
                              div class='bg-white col-md-3 col-sm-6 col-12 shadow p-4 m-4 ml-0 border' style="border-radius:6px;"
                                h4 #{j["title"]}
                                h3 class="text-primary font-weight-bold d-flex justify-content-end" #{j["score"]} 
                      - else
                        div class='d-flex py-3' style="width:100%; overflow:auto" id="div_tab_item" 
                  

javascript:
    $('#myTabs a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })

    if ("#{{vis_report_object.nav_tab}}"){
      $('#div_nav_tabs').append("#{{vis_report_object.nav_tab}}");
      $('#div_tab_item').append("#{{vis_report_object.nav_item}}");
    } else {
      $('#div_tab_item').append("#{{vis_report_object.nav_item}}");
    }
    $.each(#{{vis_report_object.html_arr}}, function(i, canva){
      $('#chart_div_page' + i).append(canva);
    });

    let chartData;
    let chartLayout;
    let ctx;
    let config;
    let page_title;
    let text_score;

    $.each(#{{vis_report_object.graphs}}, function(title, graph_arr){

      page_title = title.replace(' ', '_');
      
      $.each(graph_arr, function(i, graph){
        console.log(graph[2])
        // display title
        score_div = document.getElementById( 'score_'+page_title+'_'+i );
        score_div.setAttribute("class", 'bg-white m-2 ml-0')
        var title_div = document.createElement("h3")
        title_div.setAttribute("class", 'text-center m-4 text-primary')
        title_div.innerHTML = `${graph[1]}`
        score_div.appendChild(title_div)

        // graph
        if (graph[2]=='bar') {
          chartData = {
          x: graph[3],
          y: graph[4],
          orientation: 'h',
          marker:{
            color: graph[5]
          },
          type: graph[2]
          };

        } 
        else if (graph[2]=='text') {
          var text_div = document.createElement("div")
          text_div.innerHTML = `Score: ${#{{text_report_object}}[i].score}`
          text_div.setAttribute("class", 'text-center text-danger')
          text_div.setAttribute("style",'width: 95%; font-size:32px; display:inline-block; padding:10px; color: orange')
          
          score_div.appendChild(text_div)
        } 
        else if (graph[2]=='histogram'){
          chartData = {
            x: graph[4],
            y: graph[3],
            marker:{
              color: graph[5]
            },
            type: 'bar'
          };
        } else {
          chartData = {
          x: graph[4],
          y: graph[3],
          marker:{
            color: graph[5]
          },
          type: graph[2]
          };
        }

        chartLayout = {
          width: 700,
          xaxis: {
            automargin: true
          }
        };

        config = {
          responsive: true,
          displayModeBar: true
        };


        // create chart_page_title_0 div
        if (graph[2]!='text') {
          var chart_div = document.createElement("div")
          chart_div.setAttribute("id", 'chart_'+page_title+'_'+i)
          chart_div.setAttribute("class", 'row justify-content-center')
          chart_div.setAttribute("style", 'resize:both; overflow: auto')
          score_div.appendChild(chart_div)
          
          Plotly.newPlot(chart_div, [chartData], chartLayout, config);
        }

      });
    });
