/* .table > thead:first-child > tr:first-child > th:first-child {
    position: absolute;
    display: inline-block;
    background-color: red;
    height: 100%;
}

.table > tbody > tr > td:first-child {
    position: absolute;
    display: inline-block;
    background-color: red;
    height: 100%;
}

.table > thead:first-child > tr:first-child > th:nth-child(2) {
    padding-left: 40px;
}

.table > tbody > tr > td:nth-child(2) {
    padding-left: 50px !important;
} */
.te{
  background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
  line-height: 42px;
  padding: 0;
  border: none;
}

.LA-card {
    background-color: white;
}

.LA-card:hover {
    background-color: #008cba;
    color: white;
}

.LA-card:hover > .LA-title { color: white; }
.LA-card:hover > .LA-description { color: white; }
.LA-card:hover > .LA-icons { color: white; }

.LA-title {
    color: #6C6C6C;
}

.LA-description {
    color: #9D9D9D;
}

.LA-icons {
    color: #008cba;
}

.fire-shadow {
    filter: drop-shadow(2px 2px 2px rgba(218, 13, 0, 0.25));
}

.achievement-border {
    border: 2px solid #3D8AB7;
    border-radius: 10px;
}