---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=d2da419a-889d-49ce-96a4-20fc93460b96&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124120Z
      X-Amz-Content-Sha256:
      - f81547cf2e5dd13fd284bad9e5ce4624e5ddc6cdb62115de73fa8eb69dff1375
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=9be7e7ad9d60fc0cb1bff6a416b4ade32f46baa10e61c61ec8452e53c008e45e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 05b56b95-bb05-507d-b05c-0b309235af2c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>05b56b95-bb05-507d-b05c-0b309235af2c</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:20 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124120Z
      X-Amz-Content-Sha256:
      - 06fe00a9908505f7332e8bc9c6572de51d713016107dc6bf222eaeaf767f08e2
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=2579011d77a3313042c492d91ac47546deabef022fcd04162afce234ff4d417e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f23cd442-9d12-50e1-bc4e-b4e7b4227fb0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>f23cd442-9d12-50e1-bc4e-b4e7b4227fb0</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:20 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124120Z
      X-Amz-Content-Sha256:
      - 5470541dee0a437ef37d3c6c9da417f4857630809733a94ccc048fa75abaf5c6
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=e8277b04d43377ba924d00bf54210cfe7844bd630a02cb660fdd784589aaea72
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 45b4da25-c0f1-517b-96b6-ba80e9c19e2a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>45b4da25-c0f1-517b-96b6-ba80e9c19e2a</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:20 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250522T091657Z
      X-Amz-Content-Sha256:
      - fddb36cb707b0c3fe5f77bdd5a3e3ec6eb4d108a64f9bc596338d0707fae81ba
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=14d1895ce48f54160c3d87672b9e9ab84a560ff0b33d22b4a14064e60dd7a0c9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1cffb5d4-44f5-59fc-9d77-d57ca93c6c48
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>1cffb5d4-44f5-59fc-9d77-d57ca93c6c48</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Thu, 22 May 2025 09:16:57 GMT
recorded_with: VCR 6.3.1
