---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=d6d673f6-40d9-4a2d-a6dd-2c2834019077&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100550Z
      X-Amz-Content-Sha256:
      - e7938185ad949e8da7e64b0deea7ac074e00b9bae9bf88c34e9811378facef4c
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=f24fed5795bdb298fd6e0ffedc5575589e010bbdaaee4b594f8f8a657d8d0927
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 87e332e9-1675-5f11-a524-524686cae7ad
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>87e332e9-1675-5f11-a524-524686cae7ad</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 27 May 2025 10:05:51 GMT
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.file",
          "token_type": "Bearer"
        }
  recorded_at: Tue, 27 May 2025 10:05:51 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw",
          "name": "sample_s 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Tue, 27 May 2025 10:05:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"jZvIJNSoIKZyphPDctT37Gd9GTk\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw/permissions/02675581687761162384",
          "name": "moonbear.survey.test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVojYYXOIh7oHSi17c3f56CJY-UECxxyHTFCerO9j9rzOBrAg=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Tue, 27 May 2025 10:05:58 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Tue, 27 May 2025 10:05:59 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Create Notification"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw",
          "replies": [
            {}
          ]
        }
  recorded_at: Tue, 27 May 2025 10:06:00 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw",
          "properties": {
            "title": "Survey for Testing Create Notification",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      },
                      "backgroundColorStyle": {
                        "rgbColor": {
                          "red": 0.95686275,
                          "green": 0.78039217,
                          "blue": 0.7647059
                        }
                      }
                    }
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw/values/page1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name (should be unique)",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options",
              "Flow logic"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
         [...]
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100609Z
      X-Amz-Content-Sha256:
      - ed4e0e623da375afd5e9d89f22a469eb67e2a0602d6fb3d252b2feef6ca18238
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=098a44b271d91b031096d1470b875408e6431e769d463b7919c1ad710985b8dd
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3de93675-672b-5cc4-97d7-56daf7fa6cbe
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>3de93675-672b-5cc4-97d7-56daf7fa6cbe</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Tue, 27 May 2025 10:06:09 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100609Z
      X-Amz-Content-Sha256:
      - 050470de34d0b60b5b0411091c92d5c3f67538d5d487db0e21cca75392254b6d
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=70939ed60332007278d8b053e8a268e3e760cfcd6cd46835110801036cbc5dcc
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b05842d8-f85c-5160-8c9a-2277688d411a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>b05842d8-f85c-5160-8c9a-2277688d411a</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Tue, 27 May 2025 10:06:09 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1bDOGQ5JSmDKa8zZChlH-NMJgk0-02Yu7NJWEohMr7yw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 29 May 2025 17:30:45 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250529T173045Z
      X-Amz-Content-Sha256:
      - ae054da707b9196e04695a35985712892d87ff56e94ea90f5265b95f4786ea5e
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=491f7bf8185d916e0c4134d7bdd9987e5194a410b4cf007fcd31cedb5b8c3b7f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a7066969-c098-500d-ae69-09db5c9c0d3f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>a7066969-c098-500d-ae69-09db5c9c0d3f</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Thu, 29 May 2025 17:30:45 GMT
recorded_with: VCR 6.3.1
