---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=1007ba7d-d3f1-4b40-b64d-c3be105025d5&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124126Z
      X-Amz-Content-Sha256:
      - ce37c89ee2f5370239a6fbb43418bbdd22c080aaa1ac7518b6d3df155230fd44
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=07cd80913126aaa51ad8650e8e61b2cf8a4b1da00e11b0591e4d1090dd0d12a4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 532de3af-6e22-5621-a2a7-830a47140970
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>532de3af-6e22-5621-a2a7-830a47140970</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:26 GMT
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 19 May 2025 12:41:26 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A",
          "name": "sample_s 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Mon, 19 May 2025 12:41:29 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"dYgbWg40Okzer_nHhzphaTLE44o\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A/permissions/02675581687761162384",
          "name": "moonbear.survey.test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVojYYXOIh7oHSi17c3f56CJY-UECxxyHTFCerO9j9rzOBrAg=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Mon, 19 May 2025 12:41:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Mon, 19 May 2025 12:41:32 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Notification"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A",
          "replies": [
            {}
          ]
        }
  recorded_at: Mon, 19 May 2025 12:41:33 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A",
          "properties": {
            "title": "Survey for Testing Delete Notification",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      },
                      "backgroundColorStyle": {
                        "rgbColor": {
                          "red": 0.95686275,
                          "green": 0.78039217,
                          "blue": 0.7647059
                        }
                      }
                    }
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A/values/page1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name (should be unique)",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options",
              "Flow logic"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
         [...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1OveS1Kfzj1e-v3uB5P4oP7sNaza-3jeGLniY3puEC4A
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 19 May 2025 12:41:36 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124136Z
      X-Amz-Content-Sha256:
      - de40640ff4f89aed816a2c2509e51beea2a57264cb121b72ab1dfc66c696091c
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=8cd4db0bdf0c04476b24db85e083f67d215a21b01e9d96a314cb30590d08db6f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ee3ef00d-4063-549f-9601-90a86923bf8a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>ee3ef00d-4063-549f-9601-90a86923bf8a</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:36 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124136Z
      X-Amz-Content-Sha256:
      - 8ce609fe302788eb42efe1cba4e44ccbba14f25ce58b3fdfbb9dad82227eaa76
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=c856c52a2a9923a186071cb04efb0c9fc63f972d8ecbc25ecebabde046125fed
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 27cde383-2769-538d-854a-83260e284898
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>27cde383-2769-538d-854a-83260e284898</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:36 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T094649Z
      X-Amz-Content-Sha256:
      - 9a21069a268c7c3f5dabe787cab4b6197f48dde346f4e62ac5aed6cace2ae91c
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=ef1b177d69af0d33f6340aa16217b8413a12402bb3b4b6be482adb560f397712
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3fb74260-7db9-5f30-8f81-22cff1f06dbc
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>3fb74260-7db9-5f30-8f81-22cff1f06dbc</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Tue, 27 May 2025 09:46:49 GMT
recorded_with: VCR 6.3.1
