---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 02 Jun 2025 10:09:51 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
          "name": "sample_s 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Mon, 02 Jun 2025 10:09:54 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"CNz_Voq5IIxg6434G7sz0AMEwQc\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI/permissions/02675581687761162384",
          "name": "moonbear.survey.test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVojYYXOIh7oHSi17c3f56CJY-UECxxyHTFCerO9j9rzOBrAg=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Mon, 02 Jun 2025 10:09:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Mon, 02 Jun 2025 10:09:57 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
          "replies": [
            {}
          ]
        }
  recorded_at: Mon, 02 Jun 2025 10:09:58 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
          "properties": {
            "title": "Survey for Testing",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      },
                      "backgroundColorStyle": {
                        "rgbColor": {
                          "red": 0.95686275,
                          "green": 0.78039217,
                          "blue": 0.7647059
                        }
                      }
                    }
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name (should be unique)",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options",
              "Flow logic"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
         [...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"QjkI2AAxVl6fjuMxhhNRePn3Uhs\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw/permissions/02675581687761162384",
          "name": "moonbear.survey.test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVojYYXOIh7oHSi17c3f56CJY-UECxxyHTFCerO9j9rzOBrAg=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Wed, 02 Jul 2025 01:51:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Wed, 02 Jul 2025 01:51:37 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 02 Jul 2025 01:51:39 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadshe[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1MbkCF4rvpW8uaZzlh6XbzG-G5us1Cv87RN6Rpxh_Xvw/values/page1
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
       [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI/permissions?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "File not found: 1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
            "errors": [
              {
                "message": "File not found: 1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
                "domain": "global",
                "reason": "notFound",
                "location": "file",
                "locationType": "other"
              }
            ]
          }
        }
  recorded_at: Mon, 27 Oct 2025 09:32:35 GMT
recorded_with: VCR 6.1.0
