---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar openid https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijk4NmVlOWEzYjc1MjBiNDk0ZGY1NGZlMzJlM2U1YzRjYTY4NWM4OWQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI4Nzk4Mjg2NzI0NjEtbXZmaGZubnIyOWVrN2FhY3M3Y3Q0ODR0N3NnbG5jZ2IuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI4Nzk4Mjg2NzI0NjEtbXZmaGZubnIyOWVrN2FhY3M3Y3Q0ODR0N3NnbG5jZ2IuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTMzNjg3MzU3MzcwNzQ3NDkwNjMiLCJoZCI6Imlzcy5udGh1LmVkdS50dyIsImVtYWlsIjoidGlmZmFueS5saW5AaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJqYnJJRFVzbVNqOTlMTlJMeVVOX1hRIiwiaWF0IjoxNjc5NjU3NjIyLCJleHAiOjE2Nzk2NjEyMjJ9.gSag73NiA--rFFnR_DijpnZwHZD1PLViPbVO2P3xwzW8UD9tU1ky7PrcyF3PNoS6gsrwv3be6d0Y2NISd2R_wzdwUkkFVHPpqtHfpDHK6VZGKnDxqDwPjsl3l3SyaowfS4yB7mw67WV9biTe_RqdO70y8RXZI7SuJJ0kc6JdziYgizEGCfwjFRbg0l4u6fE8tDXtNvRY0HiwwVGZe7JvKVuK2DbAVwE-C1leVu77iBEbTEyWaGQoxZN0G-t-bpVFVgpn-MZTr2qeWnRKQEC2cY-1DQqoFEoa45YiWVwfu71iRPiaN5a3lG1dnTu2ppvcDMtM6zl9Sj5YTvkMKkKxOQ"
        }
  recorded_at: Fri, 24 Mar 2023 11:33:42 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":"<CALENDAR_ID>"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Fri, 24 Mar 2023 11:33:43 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarList",
         "etag": "\"p32kcl051grmvq0g\"",
         "nextSyncToken": "CKjKgKGG7f0CEht0aWZmYW55LmxpbkBpc3MubnRodS5lZHUudHc=",
         "items": [
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1660549861136000\"",
           "id": "<CALENDAR_ID>",
           "summary": "<CALENDAR_ID>",
           "timeZone": "Asia/Taipei",
           "colorId": "14",
           "backgroundColor": "#9fe1e7",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "owner",
           "defaultReminders": [
            {
             "method": "popup",
             "minutes": 10
            }
           ],
           "notificationSettings": {
            "notifications": [
             {
              "type": "eventCreation",
              "method": "email"
             },
             {
              "type": "eventChange",
              "method": "email"
             },
             {
              "type": "eventCancellation",
              "method": "email"
             },
             {
              "type": "eventResponse",
              "method": "email"
             }
            ]
           },
           "primary": true,
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1665665578684000\"",
           "id": "zh-tw.taiwan#holiday@group.v.calendar.google.com",
           "summary": "台灣的節慶假日",
           "description": "台灣假日節慶",
           "timeZone": "Asia/Taipei",
           "colorId": "8",
           "backgroundColor": "#16a765",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1665665590552000\"",
           "id": "addressbook#contacts@group.v.calendar.google.com",
           "summary": "生日",
           "description": "顯示 Google 聯絡人中的聯絡人生日、週年紀念日和其他活動日期。",
           "timeZone": "Asia/Taipei",
           "colorId": "13",
           "backgroundColor": "#92e1c0",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          }
         ]
        }
  recorded_at: Fri, 24 Mar 2023 11:33:44 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/freeBusy
    body:
      encoding: UTF-8
      string: '{"timeMin":"2022-05-01T00:00:00+08:00","timeMax":"2022-05-31T23:59:59+08:00","timeZone":"Asia/Taipei","items":[{"id":"<CALENDAR_ID>"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#freeBusy",
         "timeMin": "2022-04-30T16:00:00.000Z",
         "timeMax": "2022-05-31T15:59:59.000Z",
         "calendars": {
          "<CALENDAR_ID>": {
           "busy": []
          }
         }
        }
  recorded_at: Fri, 24 Mar 2023 11:33:44 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/<CALENDAR_ID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Fri, 24 Mar 2023 11:33:46 GMT
recorded_with: VCR 6.1.0
