---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "openid https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijc3NzBiMDg1YmY2NDliNzI2YjM1NzQ3NjQwMzBlMWJkZTlhMTBhZTYiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI3NzY4MTYzOTAxODYtMDJhb3Q5dHJkZ2V1aXRsZXY3cjN1MXQwN2UyY2hzaTQuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI3NzY4MTYzOTAxODYtMDJhb3Q5dHJkZ2V1aXRsZXY3cjN1MXQwN2UyY2hzaTQuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMDk2ODg1MDU2NTQzMjk0ODQyNTkiLCJlbWFpbCI6InJ1Ynl5dTI4MDBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJQTmZmX1NQU2FwODhMLXdXYWl6NV93IiwiaWF0IjoxNjgzNzM4NjY5LCJleHAiOjE2ODM3NDIyNjl9.jP9N7FS3uTjvpEK0WT4-lCPM81LS1432znjI6vkZXAicPf8YY5rzFsKmokV8L87OzaHXl9EHWvDbDZyZXCJUE6Gvl9BLdjuvsbQ8mUOZ-LT-XWq-lbb9yO_PuetM-xTixZOKYiKIfCxx4NJGD9gXEc2v6mPMr_mnCTlLkEyYCRa4c3Ugs3gNp_zOQl_7_gMousq4x1F915-uT4GYZ_i7yfFnlsGnGVaEh81ZfvI18V4EIhzItzlN64dEyFLTu4Zv0C4Ql2Xtp1Wr0-6gk_IugMQpL4S3qfbKivdOmM2Vi6cxcRfSBJCeG3fey3cEWFuCFQ8UVebQvUeW7MwiuHwIEw"
        }
  recorded_at: Wed, 10 May 2023 17:11:09 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":"<CALENDAR_ID>"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Not Found"
           }
          ],
          "code": 404,
          "message": "Not Found"
         }
        }
  recorded_at: Wed, 10 May 2023 17:11:09 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"calendar#calendarList\",\n \"etag\": \"\\\"p328b9rs8tf6fs0g\\\"\",\n
        \"nextSyncToken\": \"CJC074jrzP4CEhRydWJ5eXUyODAwQGdtYWlsLmNvbQ==\",\n \"items\":
        [\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\": \"\\\"1593231252102000\\\"\",\n
        \  \"id\": \"tuq60d3hu8fbdkknk5rmlv7km4@group.calendar.google.com\",\n   \"summary\":
        \"起飛活動日程\",\n   \"timeZone\": \"Asia/Taipei\",\n   \"colorId\": \"4\",\n   \"backgroundColor\":
        \"#fa573c\",\n   \"foregroundColor\": \"#000000\",\n   \"selected\": true,\n
        \  \"accessRole\": \"owner\",\n   \"defaultReminders\": [],\n   \"conferenceProperties\":
        {\n    \"allowedConferenceSolutionTypes\": [\n     \"hangoutsMeet\"\n    ]\n
        \  }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n   \"etag\":
        \"\\\"1594609276253000\\\"\",\n   \"id\": \"rubyyu2800@gmail.com\",\n   \"summary\":
        \"rubyyu2800@gmail.com\",\n   \"timeZone\": \"Asia/Taipei\",\n   \"colorId\":
        \"17\",\n   \"backgroundColor\": \"#9a9cff\",\n   \"foregroundColor\": \"#000000\",\n
        \  \"selected\": true,\n   \"accessRole\": \"owner\",\n   \"defaultReminders\":
        [\n    {\n     \"method\": \"email\",\n     \"minutes\": 30\n    },\n    {\n
        \    \"method\": \"popup\",\n     \"minutes\": 30\n    }\n   ],\n   \"notificationSettings\":
        {\n    \"notifications\": [\n     {\n      \"type\": \"eventCreation\",\n
        \     \"method\": \"email\"\n     },\n     {\n      \"type\": \"eventChange\",\n
        \     \"method\": \"email\"\n     },\n     {\n      \"type\": \"eventCancellation\",\n
        \     \"method\": \"email\"\n     },\n     {\n      \"type\": \"eventResponse\",\n
        \     \"method\": \"email\"\n     }\n    ]\n   },\n   \"primary\": true,\n
        \  \"conferenceProperties\": {\n    \"allowedConferenceSolutionTypes\": [\n
        \    \"hangoutsMeet\"\n    ]\n   }\n  },\n  {\n   \"kind\": \"calendar#calendarListEntry\",\n
        \  \"etag\": \"\\\"1633338483954000\\\"\",\n   \"id\": \"c_classroom86e04d44@group.calendar.google.com\",\n
        \  \"summary\": \"數位安康 2021\",\n   \"timeZone\": \"UTC\",\n   \"colorId\":
        \"16\",\n   \"backgroundColor\": \"#1967d2\",\n   \"foregroundColor\": \"#ffffff\",\n
        \  \[...]
