---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive.metadata openid https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.scripts https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/spreadsheets.readonly https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.metadata.readonly",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImM2MjYzZDA5NzQ1YjUwMzJlNTdmYTZlMWQwNDFiNzdhNTQwNjZkYmQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJsaVpwaUh3ZHA4RC1sZHpzLVpRQkdBIiwiaWF0IjoxNjk2OTg1NjQwLCJleHAiOjE2OTY5ODkyNDB9.v2bTt7SMFWzIGzFGeQ_ZDpAeWL-RoCjdYv1LDYxSeesa6fS5c2r7VGFjeBmdeFEO46DpFBxaIod2P_pmCLEPqgccGSBSmH1bE9ybzfiPd_OeY9zeS1fs9CGhALyxGjp5B2u6enFOlTObYO323ryU-Lcmgb5IIdVwrZVFtYkYnNgOfSpASFeXnvBheBF2JLunce_wsPUPAgVtIZhIJxeRDD2Vv95envT8udGWCM92Zj99lWCT8eTfvDgKhAkqs3D8NdH1kB7g_-p7AXwZ6mF79U0pxXtcGeoVsy9ti_u2OnFDkPSJf2uBABC9b6GtGsGu7JimXP6CRQ2Ofaf1vRK_3g"
        }
  recorded_at: Wed, 11 Oct 2023 00:54:00 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o",
          "name": "File Test 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 11 Oct 2023 00:54:02 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"ddzgwoLQ_oP1TGMTSnh9-qc7N44\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o/permissions/02675581687761162384",
          "name": "SurveyMoonbear Test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Wed, 11 Oct 2023 00:54:05 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Wed, 11 Oct 2023 00:54:06 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Remove from Study"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:54:07 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o",
          "properties": {
            "title": "Survey for Testing Remove from Study",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (cell range of spreadsheet e.g., C1:C5）"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet link",
              "source2"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:54:08 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o/values/report%20page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'report page1'!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "Graph Title",
              "Data source (source_id)",
              "question name_id / spreadsheet cell range",
              "chart type",
              "legend"
            ],
            [
              "source from moonbear",
              "source1",
              "please enter question's name_id",
              "bar",
              "yes"
            ],
            [
              "source from spreadsheet",
              "source2",
              "M3:M141",
              "histogram"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:54:08 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1CeJ6LQmfurT5nH0vA52sBSOSx6x6WnSsMflEha1AD3o
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 11 Oct 2023 00:54:09 GMT
recorded_with: VCR 6.1.0
