---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=16217b94-7be2-4ea5-a985-7bf1a32f139e&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101037Z
      X-Amz-Content-Sha256:
      - fe2d2a7cf3478df85b4c84cf1aa56a095da64b415cbcd36fab4d509249a53a75
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=449e9300aec97a162c383608b2225d3c5b117eba4860886d9ad8df5dd2a5acdb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 13e5ba7d-d279-5112-8e11-dacaa8a6fabd
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>13e5ba7d-d279-5112-8e11-dacaa8a6fabd</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:38 GMT
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 02 Jun 2025 10:10:39 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ",
          "name": "sample_s 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Mon, 02 Jun 2025 10:10:41 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"MtfE_CQXamJNSE81CB7t3FQaRRM\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ/permissions/02675581687761162384",
          "name": "moonbear.survey.test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVojYYXOIh7oHSi17c3f56CJY-UECxxyHTFCerO9j9rzOBrAg=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Mon, 02 Jun 2025 10:10:45 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Mon, 02 Jun 2025 10:10:48 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Create Notification"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ",
          "replies": [
            {}
          ]
        }
  recorded_at: Mon, 02 Jun 2025 10:10:49 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ",
          "properties": {
            "title": "Survey for Testing Create Notification",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      },
                      "backgroundColorStyle": {
                        "rgbColor": {
                          "red": 0.95686275,
                          "green": 0.78039217,
                          "blue": 0.7647059
                        }
                      }
                    }
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_G0tYmAZkLHymxIYmxnKHXiRgrxCiykT7hSmK7gqNXQ/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name (should be unique)",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options",
              "Flow logic"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
         [...]
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101051Z
      X-Amz-Content-Sha256:
      - 6e83c4759cf54b01c8ed96fedc0e15517cb0afdac8528a1993312fc303458cfd
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=2cfd39bc69ba1090971bd66fe1f6022bda653a3df990b7c819537224876b82c5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f87ae384-90ed-5d88-ac50-8333ea064ad9
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>f87ae384-90ed-5d88-ac50-8333ea064ad9</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:51 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101051Z
      X-Amz-Content-Sha256:
      - 90b19f24e8950c763f71cb014f791c663044e0b2174251de459602085071f939
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=fc12eb9ea70d10d3d229725310fd2ec1aa17fe0b601320016d6e7c1c8a555bca
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 460ab787-3e36-588e-a4f8-d73044da5cf8
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>460ab787-3e36-588e-a4f8-d73044da5cf8</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:51 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T103150Z
      X-Amz-Content-Sha256:
      - a94b3c52ee314d0715e3310ae0bc546e667369d0c455246e814b2c55f5ab883f
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=910204522450ef8faddcae1c001c5ae998e63ae138e5f8dca78a056833ae61f5
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2ac150b4-5f9a-5556-9dc3-3003204df516
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>2ac150b4-5f9a-5556-9dc3-3003204df516</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:31:50 GMT
recorded_with: VCR 6.1.0
