---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=42c28826-a5ec-459b-9518-bcccf1e1dc2e&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005512Z
      X-Amz-Content-Sha256:
      - 4ea85787b42a8be685a0ba8dda4491f2ca47bd293e8bff3ff302c8bd1414934f
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=598398eceaa8f5967f76f7d6d94a618240c1b717ab884abf3e95c397a1322d24
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 412c4c24-478e-593e-9495-11bbb33e9b10
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>412c4c24-478e-593e-9495-11bbb33e9b10</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:13 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005513Z
      X-Amz-Content-Sha256:
      - b65178d3207be15432373944b7bb5e0ca833e5d31ec1161c30aea0f1d25e7fef
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=532b121d12cf1c93f8d6d93f9c6bd0170fbed96b0f8b148df2dcdc51112afcba
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3b0f0ab3-f079-515f-9802-572c04c8da8e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>3b0f0ab3-f079-515f-9802-572c04c8da8e</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:13 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005513Z
      X-Amz-Content-Sha256:
      - 80ae233ce8186103fd66805f9ac7a99dc4b6d50398cd6542d46ad97ddf57cab0
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=2bc8929c81b504c5336e0960d0c9e74944fa7626e66682550c162337d2dd1956
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3786c564-8549-5c10-9727-98fb71f8b580
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>3786c564-8549-5c10-9727-98fb71f8b580</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:13 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=b9bc790f-c121-4633-80f5-7e4979de6637&Version=2010-03-31
    headers:
      Amz-Sdk-Invocation-Id:
      - 97fcd8ac-99d3-465c-92b0-63ee4a25d7b6
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20241111T154415Z
      X-Amz-Content-Sha256:
      - ef6753e94bcfa8161eb4cc38135eeffe28827898bbf6ddc9e43927dc3312dd99
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=79099a9d090df68c99928078a501f31a061040278ff9dde7ed39af8dcedf9374
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 42109f10-4681-5011-b679-c0bc6e0eac3e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>42109f10-4681-5011-b679-c0bc6e0eac3e</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 11 Nov 2024 15:44:15 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Amz-Sdk-Invocation-Id:
      - 4f9de0ce-0ee2-46cb-8591-e663f2143888
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20241111T154416Z
      X-Amz-Content-Sha256:
      - 0a2acdad6aa2d137c8dd9d963bf8abff2d734c10630ce12fd28c5b6d1d9ffe76
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=amz-sdk-invocation-id;content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=32eb6c690dca7069d35e850ddc9aee87eeac92f9e8cc5f09c8f4233f8411ec80
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 22b01fcf-589b-518d-a31d-4063700bbda2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>22b01fcf-589b-518d-a31d-4063700bbda2</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 11 Nov 2024 15:44:16 GMT
recorded_with: VCR 6.3.1
