---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 25 Apr 2019 04:24:24 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw",
         "name": "Copy of Sample Survey",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Thu, 25 Apr 2019 04:24:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"O-ZzQh-gY65a42kIgC9WL9_4IwE/xXyy6WInRwSqyhJevLQc5iblnjQ\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "deleted": false
        }
  recorded_at: Thu, 25 Apr 2019 04:24:28 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Thu, 25 Apr 2019 04:24:28 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Changes Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw",
          "replies": [
            {}
          ]
        }
  recorded_at: Thu, 25 Apr 2019 04:24:30 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw",
          "properties": {
            "title": "Survey for Testing Changes Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      }
                    }
                  }
                }
              ]
            },
            {
              "properties": {
                "sheetId": 314856148,
                "title": "page2",
                "index": 1,
                "sheetType": "GRID",
                "gridPropert[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
              "title1",
              "Personal Informat[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1ImrBs_2yJqmQ6NjcL1QXfJtG_QndHViJ6oMZD6ECBnw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"O-ZzQh-gY65a42kIgC9WL9_4IwE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 25 Apr 2019 04:24:42 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4/permissions?access_token=ya29.A0ARrdaM9u_ZDSkhw2X-IDH0ly-cxeVglte3VZK5q_KnANMqfO5yYQl-8VWfkYc_U84C9uwysf-CM0u3rhDFhISIf9fs__5DFBxtl2NubFVFkGK4i-SAUF1UhM1OQyJf3j3-0pQ715j2KzlhOPHkXzq1v_31c8SBE&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"Lghi2e9IWN-IcwKRdxsr5oo-srU\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 06:40:06 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 06:40:06 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Changes Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 06:40:07 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4",
          "properties": {
            "title": "Survey for Testing Changes Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
         [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimens[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 29 Apr 2022 06:40:20 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4",
            "locationType": "other",
            "location": "file"
           }
          ],
          "code": 404,
          "message": "File not found: 1BFnDeHuFTbwcngktt3N3d6FC2c34WFbznzSD8bMCPO4"
         }
        }
  recorded_at: Fri, 29 Apr 2022 06:50:52 GMT
recorded_with: VCR 6.0.0
