---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=d145801b-fcde-4035-a316-2d6a86232c34&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220609T133410Z
      X-Amz-Content-Sha256:
      - 53f44a9b18a75c28d906a71ce230fb4490cae469985f4c2e0592db83434ee75f
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=a807d3b063561d1b4267738a2ebfde006931ba24654aea623c87a7feb60941f6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 07bcf073-57c9-59b9-96a9-ab68aedb288c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>07bcf073-57c9-59b9-96a9-ab68aedb288c</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Thu, 09 Jun 2022 13:34:10 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=moonbear.survey.test%40gmail.com&Protocol=email&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220609T133410Z
      X-Amz-Content-Sha256:
      - 224fdd9d86efb0bbe2247ea6e65d3a405d8ac954e0454d0bbc2a1d4d5bed667e
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=239cd8c2a6dc23ca39049510dffc06cdb1d65c6c4e60a84c65ffcca749e21c0e
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 71a45513-bbe6-5ea5-972a-0e0842f5c7d0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>71a45513-bbe6-5ea5-972a-0e0842f5c7d0</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Thu, 09 Jun 2022 13:34:12 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220609T133412Z
      X-Amz-Content-Sha256:
      - 4024fc2e9460834532f2f49a588c72bb65202c85a3c37b694425e3923fa9064c
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=62d39262866fb56e5e5ad9b7da058b5bed9b4d7dbe1254f5e39db83a829df8b4
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e8cf9dc3-cadd-577c-8d40-c6d833cb146a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions>
              <member>
                <Owner>799429637113</Owner>
                <Endpoint>moonbear.survey.test@gmail.com</Endpoint>
                <Protocol>email</Protocol>
                <SubscriptionArn>PendingConfirmation</SubscriptionArn>
                <TopicArn><AWS_TOPIC_ARN></TopicArn>
              </member>
            </Subscriptions>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>e8cf9dc3-cadd-577c-8d40-c6d833cb146a</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Thu, 09 Jun 2022 13:34:14 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220609T133414Z
      X-Amz-Content-Sha256:
      - 257247163ef8776d4923944ff5999a870b697fd587193f41ad76b7f5ef4c547a
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=743fe0bd33488f9c3543173598dcf5036ee87515a1ce2ea2baee32fe46503feb
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21fb80dd-e98b-5184-b68d-dbc610935b52
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>21fb80dd-e98b-5184-b68d-dbc610935b52</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Thu, 09 Jun 2022 13:34:16 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220609T133416Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=6b987b2d428d2b876d3a9d2e255ca21f9755cae98f8e49cdc5e949927b0b937c
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 4365de7a-4b8f-5d55-b8eb-8561b29644cf
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>4365de7a-4b8f-5d55-b8eb-8561b29644cf</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 09 Jun 2022 13:34:16 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230324T081640Z
      X-Amz-Content-Sha256:
      - 6ebc4765c689703ac8a0c3cee776ca99a9f3094e3e6499fff9f87d6a2ca3db19
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=9c7e927e1fa2a72ef87192439d0a371261bc38ad8039ae4128714da0a25997f1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - eacdf209-d929-592d-a58d-ae9e8781e529
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>eacdf209-d929-592d-a58d-ae9e8781e529</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Fri, 24 Mar 2023 08:16:40 GMT
recorded_with: VCR 6.1.0
