---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/calendar openid",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijk4NmVlOWEzYjc1MjBiNDk0ZGY1NGZlMzJlM2U1YzRjYTY4NWM4OWQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiIxMU82bWZ5VWlBZkhmaWljX1VHWEJ3IiwiaWF0IjoxNjc5NjQ1NzYxLCJleHAiOjE2Nzk2NDkzNjF9.Q_mzF02ehjbh4WGRD7UG8ri4LdN5zhuRqq24U28fMOAnFnehUxetqJYpnSocquCfrFhN9xm_btzktTNGmf635pcJ0R2q2X2X5lslJIZzwbcdv2e-o6lqNI8Bnfk1tMZ8z4HBWcufCacEIAQc20PPX73_slFqNLdCF7-XloZZN32gj3-ptd_je136iBVV164EMxlTHzCYdTHm0gqer-7qQcjMJcJrMRtL1eLJiTTESvAMTLG8mvAQTQXrJxJV6tHj7pHayQvx1izka1XKYCK7KrBmg4H39ufYP45c-f-dt3rveHP6MKSpWkDHeEF5TYrLGkJ1RHBxIEGNcKkAiDlO-A"
        }
  recorded_at: Fri, 24 Mar 2023 08:16:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":"<CALENDAR_ID>"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Fri, 24 Mar 2023 08:16:01 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarList",
         "etag": "\"p32gd3k4tgrmvq0g\"",
         "nextSyncToken": "CKDR0J2G7f0CEhl0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3",
         "items": [
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1670932759696000\"",
           "id": "<CALENDAR_ID>",
           "summary": "<CALENDAR_ID>",
           "timeZone": "Asia/Taipei",
           "colorId": "14",
           "backgroundColor": "#9fe1e7",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "owner",
           "defaultReminders": [
            {
             "method": "popup",
             "minutes": 10
            }
           ],
           "notificationSettings": {
            "notifications": [
             {
              "type": "eventCreation",
              "method": "email"
             },
             {
              "type": "eventChange",
              "method": "email"
             },
             {
              "type": "eventCancellation",
              "method": "email"
             },
             {
              "type": "eventResponse",
              "method": "email"
             }
            ]
           },
           "primary": true,
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1670932761130000\"",
           "id": "zh-tw.taiwan#holiday@group.v.calendar.google.com",
           "summary": "台灣的節慶假日",
           "description": "台灣假日節慶",
           "timeZone": "Asia/Taipei",
           "colorId": "8",
           "backgroundColor": "#16a765",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1670932763255000\"",
           "id": "addressbook#contacts@group.v.calendar.google.com",
           "summary": "生日",
           "description": "顯示 Google 聯絡人中的聯絡人生日、週年紀念日和其他活動日期。",
           "timeZone": "Asia/Taipei",
           "colorId": "13",
           "backgroundColor": "#92e1c0",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          }
         ]
        }
  recorded_at: Fri, 24 Mar 2023 08:16:03 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/freeBusy
    body:
      encoding: UTF-8
      string: '{"timeMin":"2022-05-01T00:00:00+08:00","timeMax":"2022-05-31T23:59:59+08:00","timeZone":"Asia/Taipei","items":[{"id":"<CALENDAR_ID>"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#freeBusy",
         "timeMin": "2022-04-30T16:00:00.000Z",
         "timeMax": "2022-05-31T15:59:59.000Z",
         "calendars": {
          "<CALENDAR_ID>": {
           "busy": []
          }
         }
        }
  recorded_at: Fri, 24 Mar 2023 08:16:04 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/<CALENDAR_ID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Fri, 24 Mar 2023 08:16:06 GMT
recorded_with: VCR 6.1.0
