---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 25 Apr 2019 04:24:14 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90",
         "name": "Copy of Sample Survey",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Thu, 25 Apr 2019 04:24:16 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"O-ZzQh-gY65a42kIgC9WL9_4IwE/tHokAj075m2TQG_e7fhPAWc-Byc\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "deleted": false
        }
  recorded_at: Thu, 25 Apr 2019 04:24:18 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Thu, 25 Apr 2019 04:24:19 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90",
          "replies": [
            {}
          ]
        }
  recorded_at: Thu, 25 Apr 2019 04:24:20 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90",
          "properties": {
            "title": "Survey for Testing Delete Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      }
                    }
                  }
                }
              ]
            },
            {
              "properties": {
                "sheetId": 314856148,
                "title": "page2",
                "index": 1,
                "sheetType": "GRID",
                "gridPropert[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
              "title1",
              "Personal Informat[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1z9V4w2JHewUNueKaFjkbs2yGO_uNjPKKPPWuilsSM90
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"O-ZzQh-gY65a42kIgC9WL9_4IwE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 25 Apr 2019 04:24:23 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"wIxWLdRxU2qarCo7IL37om8Mrv0\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 06:40:41 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 06:40:42 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 06:40:43 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE",
          "properties": {
            "title": "Survey for Testing Delete Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
         [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimens[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 29 Apr 2022 06:40:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE",
            "locationType": "other",
            "location": "file"
           }
          ],
          "code": 404,
          "message": "File not found: 1W9Z-IicrBQkiwF-xjW-eKEJhK9oPVZl2PIPa5GBv2nE"
         }
        }
  recorded_at: Fri, 29 Apr 2022 06:50:48 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/spreadsheets openid https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjM4ZjM4ODM0NjhmYzY1OWFiYjQ0NzVmMzYzMTNkMjI1ODVjMmQ3Y2EiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTY3MjMwMjY0OTY5MDQwNTE5NzgiLCJlbWFpbCI6ImNoZWNraGlnaC5hcHBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJ1SGtjUEtSZUQ1THVtbk9ObzhOYldRIiwiaWF0IjoxNjU0MDY4NjU3LCJleHAiOjE2NTQwNzIyNTd9.UpYSzrZIpvp4a64S8l-LmlfAV6Bdvjt-QqhjFvsGyhSuex7dObMUUw5VizTBk26cYWXKq8j1ePwDcp1rtaLXnAvDQDQwpeMogfDFnl-_t-cUjw6SSSPNNsJp60RAEgZLZ8rXR4q92OeS3LhTPQk5dcWcK2F5ZcR6SrwefMR6mZ59rzLzx-FMP_KzO6xRRfUD2LxghucI_sGJwk9p_-ehzb6HYCBgWvlJVdfJjvA1--zpp0_khJLmAb8obc1Rx2mlfQsQ3Mqi4tbc-faDiap-55CVtLFjzl6Y6_sCwaFnjnC4DAbGei5fXkk4d8x7o9sPSvx7yoDkramaAxa5ClGpDw"
        }
  recorded_at: Wed, 01 Jun 2022 07:30:57 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"wv1FvQH2KXYRtcA4FSw23sp5i_U\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Wed, 01 Jun 2022 07:31:01 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Wed, 01 Jun 2022 07:31:02 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 01 Jun 2022 07:31:02 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aI[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimens[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1FISB4euSN0qJ9fwRR09dR8pRPnlKfDXpw428Ce25aII
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 01 Jun 2022 07:31:05 GMT
recorded_with: VCR 6.0.0
