---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=3b89db72-f55b-440b-a41f-40ba7a2b71aa&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101052Z
      X-Amz-Content-Sha256:
      - 2417cccca29af83d75bc26aabdb33c3b92f88f6f9faf63e289d13c58060cc169
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=b7eee59c0ce02815c19cc77400568d529b97250aa212d3c1a9fba12c87b48665
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dce5345c-0b23-5213-ab41-54eb71ce8cff
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>dce5345c-0b23-5213-ab41-54eb71ce8cff</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:53 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101053Z
      X-Amz-Content-Sha256:
      - 2b0eeb4fe53be0420bed0f630b9c62bb67d1a692d38d968e8ee42cff4a2f1b63
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=d54687fdfaaabbdd2902e6ed4b98c4ace88725511db502c9471c023a0eee678a
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9fe8c64e-e5f7-57fd-951d-a6f99f19cad6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>9fe8c64e-e5f7-57fd-951d-a6f99f19cad6</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:53 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101053Z
      X-Amz-Content-Sha256:
      - 6b5143e52f22d0f150657235fdfa0cc2b1a9c6159f3bb961804cc55021ffe15f
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=cef2dbbbd851b4dae5cc94ec0d96e5c076764f8c4d8bcbbc1840ac2edef3b54f
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 42d8e511-9b02-595f-9e7a-85a6e1ed82a7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>42d8e511-9b02-595f-9e7a-85a6e1ed82a7</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:55 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250919T111121Z
      X-Amz-Content-Sha256:
      - 7204713a1e22892c27b96b140785b328404e5de3dcee822b0ee1344ca24587c5
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=b4dbd737d39819e67335dc6d774afabfd34b03f2dcbca6cf1509b86c210c03ea
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e2b9f5fe-1fa2-5eac-8a82-94b92338389f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>e2b9f5fe-1fa2-5eac-8a82-94b92338389f</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Fri, 19 Sep 2025 11:11:22 GMT
recorded_with: VCR 6.1.0
