---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Wed, 14 Nov 2018 04:11:19 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA",
         "name": "Copy of Sample Survey",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 14 Nov 2018 04:11:21 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"omwGuTP8OdxhZkubyp-j43cFdJQ/8nGGarSyqre8EOR5R83cphhm_IQ\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "deleted": false
        }
  recorded_at: Wed, 14 Nov 2018 04:11:25 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 14 Nov 2018 04:11:26 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA",
          "properties": {
            "title": "Survey for Testing Create Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 0,
                "title": "sheet1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 998,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "startRowIndex": 1,
                      "endRowIndex": 11,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "startRowIndex": 11,
                      "endRowIndex": 15,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      }
                    }
                  }
                }
              ]
            }
          ],
          "spreadsheetUrl": "https://docs.google.com/spreadsheets/d/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA/edit"
        }
  recorded_at: Wed, 14 Nov 2018 04:11:27 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA/values/sheet1?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sheet1!A1:Z998",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name",
              "Description",
              "Required?",
              "Options"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a survey for testing."
            ],
            [
              "Section Title",
              "title1",
              "Personal Information"
            ],
            [
              "Short answer[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"omwGuTP8OdxhZkubyp-j43cFdJQ/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 14 Nov 2018 04:11:30 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "Requested entity was not found.",
            "status": "NOT_FOUND"
          }
        }
  recorded_at: Wed, 14 Nov 2018 04:12:19 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA",
            "locationType": "other",
            "location": "file"
           }
          ],
          "code": 404,
          "message": "File not found: 1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA"
         }
        }
  recorded_at: Wed, 14 Nov 2018 04:12:21 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA",
            "locationType": "other",
            "location": "file"
           }
          ],
          "code": 404,
          "message": "File not found: 1ev7rmyM_jpCjpwlf0OlFDx_XERXOItDE-A27V3TGzyA"
         }
        }
  recorded_at: Thu, 15 Nov 2018 09:20:47 GMT
recorded_with: VCR 4.0.0
