---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 19 May 2025 12:42:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":"<CALENDAR_ID>"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-14
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Google Calendar API has not been used in project 240177806548 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/calendar-json.googleapis.com/overview?project=240177806548 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
            "errors": [
              {
                "message": "Google Calendar API has not been used in project 240177806548 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/calendar-json.googleapis.com/overview?project=240177806548 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.",
                "domain": "usageLimits",
                "reason": "accessNotConfigured",
                "extendedHelp": "https://console.developers.google.com"
              }
            ],
            "status": "PERMISSION_DENIED",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "SERVICE_DISABLED",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "calendar-json.googleapis.com",
                  "activationUrl": "https://console.developers.google.com/apis/api/calendar-json.googleapis.com/overview?project=240177806548",
                  "serviceTitle": "Google Calendar API",
                  "consumer": "projects/240177806548",
                  "containerInfo": "240177806548"
                }
              },
              {
                "@type": "type.googleapis.com/google.rpc.LocalizedMessage",
                "locale": "en-US",
                "message": "Google Calendar API has not been used in project 240177806548 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/calendar-json.googleapis.com/overview?project=240177806548 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry."
              },
              {
                "@type": "type.googleapis.com/google.rpc.Help",
                "links": [
                  {
                    "description": "Google developers console API activation",
                    "url": "https://console.developers.google.com/apis/api/calendar-json.googleapis.com/overview?project=240177806548"
                  }
                ]
              }
            ]
          }
        }
  recorded_at: Mon, 19 May 2025 12:42:33 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-14
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 4[...]
[...]
