---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.scripts https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/spreadsheets.readonly https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive.appdata openid https://www.googleapis.com/auth/drive",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImM2MjYzZDA5NzQ1YjUwMzJlNTdmYTZlMWQwNDFiNzdhNTQwNjZkYmQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJyclhPT0lBcDkyekU2Rkd2SU1SVkJBIiwiaWF0IjoxNjk2OTg1NzkxLCJleHAiOjE2OTY5ODkzOTF9.t8Qjj4Kd1CKxw3XNZuP6IBtlocxlHkr-cFTeXhbdp86go1IxvdGfYoWlDxKRzIMIepunIhS3uxq_XFwqG-hU9sp6smsUHMKPAuAg2xd0iRFmhZC9hH9FEtkk-camPyw6MqY9x7LrZHpNB8OV0xHVlMe0YM9xV6dwjxiCObUVCv-T5taeMUsZe2DI4VYNKvhdA2Mhtm-HJjUQdPxkuC5LIeeV4T6r7gfMNs_M3ADoCirg6mOBRhQFufGNp9YjIArEdCGa-AnoFIZBe3FFkR3WtT8DtB1rr9PL63Nod5uFbszpLqG4GxFbfDSeB2VWyKjoEXjq5oT37NsszfxY1a332Q"
        }
  recorded_at: Wed, 11 Oct 2023 00:56:31 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E",
          "name": "File Test 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 11 Oct 2023 00:56:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"ZSitYg18H5TygFNjo6hwYbC8kGw\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E/permissions/02675581687761162384",
          "name": "SurveyMoonbear Test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Wed, 11 Oct 2023 00:56:36 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Wed, 11 Oct 2023 00:56:37 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:56:38 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E",
          "properties": {
            "title": "Visual Report for Testing Create Services",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (cell range of spreadsheet e.g., C1:C5）"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet link",
              "source2"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:56:39 GMT
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"setDataValidation":{"range":{"sheetId":0,"startRowIndex":1,"endRowIndex":2,"startColumnIndex":1,"endColumnIndex":2},"rule":{"condition":{"type":"ONE_OF_LIST","values":[]},"showCustomUi":true,"strict":false}}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:56:40 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/12lNQsN8TYuVPRCw6BFqB4B6A9tJSvk1mxBJovvM6C7E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 11 Oct 2023 00:56:41 GMT
recorded_with: VCR 6.1.0
