---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=ff4642fe-4dbf-48dc-b854-e26a0718d971&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005557Z
      X-Amz-Content-Sha256:
      - cc39aee271b9fc246e1d4b140357bd43d248aed6b66fef406d2384ac0b22798e
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=2d17c377973964ea4da8cd1b83f313dcade00ab354575ba61cdfef7455065f6b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 239f1a4d-e5e7-517f-8ee5-47d211395d25
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>239f1a4d-e5e7-517f-8ee5-47d211395d25</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:58 GMT
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/spreadsheets.readonly https://www.googleapis.com/auth/userinfo.profile openid https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.scripts https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive.file",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImM2MjYzZDA5NzQ1YjUwMzJlNTdmYTZlMWQwNDFiNzdhNTQwNjZkYmQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJsU0QyM0hNWEtRLWd0dDZlX0dLcjd3IiwiaWF0IjoxNjk2OTg1NzU4LCJleHAiOjE2OTY5ODkzNTh9.ghgZx8DtXeAovWmnCHxF8Q43846BzCHVR0qdArifk3Psm-8fP86WIplOSGGLrsT0fKfCBYBoRXPabMEVxgNUcmqp4dpWMeODpTfBu3BptdcDMLlyu4B7r1JzgHAgvGnFIoSKivxKGM5uLhWaJJWZUQLj_sQwn1VNb4ha6patWJW8_HY8L9GhCA8RjeUBtoQD4Rg9fv0W18sw3-wTxwbdHHxaJ0dz09iw7pI2Ww28UOKO9Xm7iRoAJ7p4jnLm19GsYhEa0lxZfhEq8cSmJyxgkhg-cX5IBSjBoj2InJrKY4FUdRni9T1Fdjkx62QbvNRzFc9pgpBUv67fktz68gwlAA"
        }
  recorded_at: Wed, 11 Oct 2023 00:55:58 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE",
          "name": "File Test 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 11 Oct 2023 00:56:00 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"Er_1pdf52xiEm0QrmSqXWFIpIfs\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE/permissions/02675581687761162384",
          "name": "SurveyMoonbear Test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Wed, 11 Oct 2023 00:56:04 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Wed, 11 Oct 2023 00:56:04 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Notification"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:56:05 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE",
          "properties": {
            "title": "Survey for Testing Delete Notification",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (cell range of spreadsheet e.g., C1:C5）"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet link",
              "source2"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:56:06 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE/values/report%20page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'report page1'!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "Graph Title",
              "Data source (source_id)",
              "question name_id / spreadsheet cell range",
              "chart type",
              "legend"
            ],
            [
              "source from moonbear",
              "source1",
              "please enter question's name_id",
              "bar",
              "yes"
            ],
            [
              "source from spreadsheet",
              "source2",
              "M3:M141",
              "histogram"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:56:07 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/11vcOBL9t4UWVaMFh_WqZeT_VViWxVoKAL21VMGUHjCE
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 11 Oct 2023 00:56:08 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005608Z
      X-Amz-Content-Sha256:
      - 6d69d9bd55415211020e966db5a60255c67df60be8a287644590f3cf5b4bfb95
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=0d2be3b5f8eff8da4746160c835778855e3ff8fd7f5852c237f0a1c43286c222
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - b60d150c-f64e-5d29-a159-489302a7d752
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>b60d150c-f64e-5d29-a159-489302a7d752</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:56:09 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005609Z
      X-Amz-Content-Sha256:
      - baa8e8fc3442620c25dbdcbad1f9ef61c6c1d1f84fb713615b023510f416ac0e
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=386d734d4ecc62ded325e6ddd49e0f547a98ec9e69efcd0385dc5134c7e1bd0c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9a620258-d5ac-57c2-adf8-5fc72145abde
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>9a620258-d5ac-57c2-adf8-5fc72145abde</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:56:09 GMT
recorded_with: VCR 6.1.0
