---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=42c28826-a5ec-459b-9518-bcccf1e1dc2e&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005512Z
      X-Amz-Content-Sha256:
      - 4ea85787b42a8be685a0ba8dda4491f2ca47bd293e8bff3ff302c8bd1414934f
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=598398eceaa8f5967f76f7d6d94a618240c1b717ab884abf3e95c397a1322d24
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 412c4c24-478e-593e-9495-11bbb33e9b10
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>412c4c24-478e-593e-9495-11bbb33e9b10</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:13 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005513Z
      X-Amz-Content-Sha256:
      - b65178d3207be15432373944b7bb5e0ca833e5d31ec1161c30aea0f1d25e7fef
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=532b121d12cf1c93f8d6d93f9c6bd0170fbed96b0f8b148df2dcdc51112afcba
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3b0f0ab3-f079-515f-9802-572c04c8da8e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>3b0f0ab3-f079-515f-9802-572c04c8da8e</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:13 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005513Z
      X-Amz-Content-Sha256:
      - 80ae233ce8186103fd66805f9ac7a99dc4b6d50398cd6542d46ad97ddf57cab0
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=2bc8929c81b504c5336e0960d0c9e74944fa7626e66682550c162337d2dd1956
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3786c564-8549-5c10-9727-98fb71f8b580
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>3786c564-8549-5c10-9727-98fb71f8b580</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:13 GMT
recorded_with: VCR 6.1.0
