---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email openid https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/userinfo.profile",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijc0ODNhMDg4ZDRmZmMwMDYwOWYwZTIyZjNjMjJkYTVmZTM5MDZjY2MiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTY3MjMwMjY0OTY5MDQwNTE5NzgiLCJlbWFpbCI6ImNoZWNraGlnaC5hcHBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJkYWVGSGlMeG9QRE53OWQzc2g1b093IiwiaWF0IjoxNjU0NjgwMjE4LCJleHAiOjE2NTQ2ODM4MTh9.JxVBeAkVQl4Z6EabnNITJhfLNUt6sDXpRc9uF4qv0hr0sslYK_HoI28mzjNP6JlXNKYoRXuGBnIcjIM1yJ5w6WQVm9TKwN0tloDdZBOZIqwbnO2tfqqh4HqBZSktmRGEd5ypGJfsmvn1T7GbvHeSkEAIiJOyyqeqQIScp7Nglz6-RA0f79MiAKfLnV-IzAlapsXDFLwQGzgDXkxSGH3gEPgIvJl1ZpWPp-5_7GtTeIqWqI_IV2XDtiM5KXnVd8fvLbgff4BpgL23Y9OAvVoEbJR28YSNeIkq1emksLWo-Z_ZJjpdNqgeHMvptRgaobgIiKPYzUqc4xP6zoq9VTYeOg"
        }
  recorded_at: Wed, 08 Jun 2022 09:23:38 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees",
         "name": "sample survey 的副本",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 08 Jun 2022 09:23:40 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"E-gxjkIi4_7VC3TE32Fe3d8lTI4\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Wed, 08 Jun 2022 09:23:42 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Wed, 08 Jun 2022 09:23:43 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 08 Jun 2022 09:23:43 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees",
          "properties": {
            "title": "Survey for Testing Delete Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      },
                      "backgroundColorStyle": {
                        "rgbColor": {
                          "red": 0.95686275,
                          "green": 0.78039217,
                          "blue": 0.7647059
                        }
                      }
                    }
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name (should be unique)",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options",
              "Flow logic"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
         [...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1_SF8iAdQ2lck-kXWuqgo2TJzZWs9kH71jJ5BBbo3ees
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 08 Jun 2022 09:23:47 GMT
recorded_with: VCR 6.1.0
