---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 22 Nov 2018 11:55:50 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM",
         "name": "Copy of Sample Survey",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Thu, 22 Nov 2018 11:55:52 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"8xUCra6FbWx8e1S7QPWn-stRIsE/SKzM4Vw7JLaKh3tZWOt8OlESwTc\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "deleted": false
        }
  recorded_at: Thu, 22 Nov 2018 11:55:55 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM",
          "replies": [
            {}
          ]
        }
  recorded_at: Thu, 22 Nov 2018 11:55:56 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM",
          "properties": {
            "title": "Survey for Testing Delete Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 0,
                "title": "sheet1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 998,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "startRowIndex": 1,
                      "endRowIndex": 11,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "startRowIndex": 11,
                      "endRowIndex": 15,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      }
                    }
                  }
                }
              ]
            }
          ],
          "spreadsheetUrl": "https://docs.google.com/spreadsheets/d/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM/edit"
        }
  recorded_at: Thu, 22 Nov 2018 11:55:57 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM/values/sheet1?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sheet1!A1:Z998",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name",
              "Description",
              "Required?",
              "Options"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a survey for testing."
            ],
            [
              "Section Title",
              "title1",
              "Personal Information"
            ],
            [
              "Short answer[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/11VQURQOsxgFrdjWTUkuxMkLzkkEuZwN2iPY8p82ESDM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"8xUCra6FbWx8e1S7QPWn-stRIsE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 22 Nov 2018 11:56:00 GMT
recorded_with: VCR 4.0.0
