---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=1e879233-391c-4a41-b0c0-516f71da389f&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124110Z
      X-Amz-Content-Sha256:
      - ea68db479558f43eddbd161ff9448d1eb68f187c262f50747ccd37bfde918fa0
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=5a931556099ad270ebcdd9a22ef5fc75471efb3927118e0eda7f4a6157d007ef
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cc450707-146e-5fcf-a87c-67a23d488b17
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>cc450707-146e-5fcf-a87c-67a23d488b17</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:10 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=moonbear.survey.test%40gmail.com&Protocol=email&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124110Z
      X-Amz-Content-Sha256:
      - '0989ee0cb9b1ca8a13fc94bfa47874f9fc37f92bd0f374fb5ccb32b300af239c'
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=db9552d86bab3783c2717ea57d19a7166d71536075702c29439c6bcb179e5512
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2bbc762c-de25-56fc-8f36-1689f702e224
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>2bbc762c-de25-56fc-8f36-1689f702e224</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Mon, 19 May 2025 12:41:11 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124111Z
      X-Amz-Content-Sha256:
      - 6abbf027184975567664980daa6927bab902ee1c4791eaf3ea9027f33fe5b761
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=aa0d193a0722ce01f7d0e9ee97cdf3d53d651b1ebd88f18663a45704fd97c1d6
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '02139a50-cd6d-57bc-961a-faf5e44a1364'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions>
              <member>
                <Owner>155804318471</Owner>
                <Endpoint>moonbear.survey.test@gmail.com</Endpoint>
                <Protocol>email</Protocol>
                <SubscriptionArn>PendingConfirmation</SubscriptionArn>
                <TopicArn><AWS_TOPIC_ARN></TopicArn>
              </member>
            </Subscriptions>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>02139a50-cd6d-57bc-961a-faf5e44a1364</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:11 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124111Z
      X-Amz-Content-Sha256:
      - df75ae8311d81387f0ddd7db04f8a78b8ce2fd25be87fce2c7400198020bb8d2
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=70a90bd86cbe5f25b6a7ed1d89a564a5c01be36574fb4de909ec81cc5342191b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 3e543518-5c69-53e0-a64e-55bd754eb738
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>3e543518-5c69-53e0-a64e-55bd754eb738</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 19 May 2025 12:41:11 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250519T124146Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=65b5e3c41ab82495adc030d3d65abd049b9ed090bb3eec3eb8aec9b2b176e50c
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 3fd1bc1d-eb18-56ac-9e39-dcb8c252f47b
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>3fd1bc1d-eb18-56ac-9e39-dcb8c252f47b</RequestId>
        </ErrorResponse>
  recorded_at: Mon, 19 May 2025 12:41:46 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250522T091700Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=6cc866a56f3d0a49b25f07f70f4b0476fce31ba23917d58ce2b11c80f3e9caea
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 58f447bf-b452-53f1-9dd1-2717599f2645
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>58f447bf-b452-53f1-9dd1-2717599f2645</RequestId>
        </ErrorResponse>
  recorded_at: Thu, 22 May 2025 09:17:00 GMT
recorded_with: VCR 6.3.1
