---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=99dd4e6a-eae1-40be-99e5-ed1aaacd84e6&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T092329Z
      X-Amz-Content-Sha256:
      - 4c3a0dd052ee2d59ff88f6361dafe51ddf74f30d7e0455d7b481da9a8671efaf
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=af5680d347cd0bada93281f2960be96617ccfc6a48d2ce875f8572bc42e15152
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e5700eee-76fd-5126-a531-55f41a2c3db3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>e5700eee-76fd-5126-a531-55f41a2c3db3</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 08 Jun 2022 09:23:29 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T092329Z
      X-Amz-Content-Sha256:
      - 1c9b4a9001d37486ebe7e4e7f736e094c387dea41d1db4a2e7e608b3da0b4584
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=e19395f40e821cc3b967390a546bc2269f6cd0bbc34a3605e0d3ee0be8a225ca
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2ca2bc58-ebd3-563d-9c80-e7428702b16f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>2ca2bc58-ebd3-563d-9c80-e7428702b16f</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 08 Jun 2022 09:23:29 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T092329Z
      X-Amz-Content-Sha256:
      - 49504860dc2e888c27da81c80f3d34de5e53ceef3410d12d56177e64af93bd46
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=623092cfddee0bbd4133e7aae68ae7c666900c758e3f59f6dce2ee7d76da7735
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dc721585-acd7-5e43-a1e7-4e9fc005c72c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>dc721585-acd7-5e43-a1e7-4e9fc005c72c</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 08 Jun 2022 09:23:30 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
<<<<<<< HEAD
      string: Action=CreateTopic&Name=24b70c31-f484-42e3-8bd3-9fca8534103f&Version=2010-03-31
=======
      string: Action=CreateTopic&Name=47c67a61-365f-47de-b957-29fc151dd4ac&Version=2010-03-31
>>>>>>> eec543e (try to fix getstrated_doc.md)
    headers:
<<<<<<< HEAD
      - aws-sdk-ruby3/3.131.1 ruby/3.0.2 x86_64-linux aws-sdk-sns/1.53.0
=======
      - aws-sdk-ruby3/3.170.0 ruby/3.0.2 x86_64-darwin22 aws-sdk-sns/1.53.0
>>>>>>> eec543e (try to fix getstrated_doc.md)
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      Host:
      - sns.ap-northeast-1.amazonaws.com
      X-Amz-Date:
<<<<<<< HEAD
      - 20230510T171116Z
      X-Amz-Content-Sha256:
      - 5b3b4cbeb16cdc72604f86eeaf12165d3cb2480b2d50a3c64e841d95e9d5c506
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=426c097c1bc31609f7180146191372b3f4b321b4a899d0eef8a6b65ed24e62a0
      Content-Length:
      - '79'
      Accept:
      - "*/*"
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      X-Amzn-Requestid:
      - 4caf943d-d2b2-55d9-baf4-c8e800c7d167
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>AuthorizationError</Code>
            <Message>User: arn:aws:iam::215612671831:user/SurveyMoonbear_APP is not authorized to perform: SNS:CreateTopic on resource: arn:aws:sns:ap-northeast-1:215612671831:24b70c31-f484-42e3-8bd3-9fca8534103f because no identity-based policy allows the SNS:CreateTopic action</Message>
          </Error>
          <RequestId>4caf943d-d2b2-55d9-baf4-c8e800c7d167</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 10 May 2023 17:11:17 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=dd8f311e-54f6-4f70-ab91-e7f831cb8bbc&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230511T051843Z
      X-Amz-Content-Sha256:
      - 77aa7c5498d90600aaf8dffeeba4793413fb325c3efb2462650ec8bbb16bc3c8
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=57b28e5664e0f40b160c4fec4d90102d881e9a60a0a6a894c1bc31b883050810
=======
      - 20230324T081557Z
      X-Amz-Content-Sha256:
      - bf952ae7c0ffab0b79a032cd65693444ea54a697e4ca520c8547a3b4a769e35b
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=61aecd173192d4e967fb0369cc51990d0221fb86544146c9bf397616f99fcdfc
>>>>>>> eec543e (try to fix getstrated_doc.md)
      Content-Length:
      - '79'
      Accept:
      - "*/*"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
<<<<<<< HEAD
      - 3ed73263-6ce5-59fc-8e2e-6eb5101151c0
=======
      - 9285d301-56b5-5967-ab14-8f9608cb3d47
>>>>>>> eec543e (try to fix getstrated_doc.md)
      Content-Type:
      - text/xml
      Content-Length:
      - '348'
      Date:
<<<<<<< HEAD
      - Thu, 11 May 2023 05:18:44 GMT
=======
      - Fri, 24 Mar 2023 08:15:57 GMT
>>>>>>> eec543e (try to fix getstrated_doc.md)
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
<<<<<<< HEAD
            <RequestId>3ed73263-6ce5-59fc-8e2e-6eb5101151c0</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Thu, 11 May 2023 05:18:44 GMT
=======
            <RequestId>9285d301-56b5-5967-ab14-8f9608cb3d47</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Fri, 24 Mar 2023 08:15:57 GMT
>>>>>>> eec543e (try to fix getstrated_doc.md)
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230511T062333Z
      X-Amz-Content-Sha256:
      - 1d41ead0a2bc36e25f127478efe1bf6e9f5b6c52528f3eb5dbcebb41a83eaa1d
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=3ff4bb211f4fa6e8d67ff0b98bf661e6908319ab0570ed2fc82f2ca144dfef1b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e7dc18ea-1049-5724-8a09-443c9c6fd71e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>e7dc18ea-1049-5724-8a09-443c9c6fd71e</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Thu, 11 May 2023 06:23:34 GMT
=======
            <RequestId>21d310ae-30a6-5f07-afe5-4c396ed90d78</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Fri, 24 Mar 2023 08:15:59 GMT
>>>>>>> eec543e (try to fix getstrated_doc.md)
recorded_with: VCR 6.1.0
