---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/spreadsheets openid",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijc0ODNhMDg4ZDRmZmMwMDYwOWYwZTIyZjNjMjJkYTVmZTM5MDZjY2MiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTY3MjMwMjY0OTY5MDQwNTE5NzgiLCJlbWFpbCI6ImNoZWNraGlnaC5hcHBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiIyNUxCaW9pTTFKZkRncjNEaTN2RGpRIiwiaWF0IjoxNjU0NjcxNjc2LCJleHAiOjE2NTQ2NzUyNzZ9.BHS-NBxJkJ0ZpWN9Nu0W4TDCV2jKNT2WFBR5FxXrVK9Xx8jCjXlPh7ihwpYeHIsG0EkBB_aR1FmqP0RtsKOKgJZ5j4F6SoRnoUBiD7WEIBZcRxZpiN-EDGBCq35n2iOlcD5HOxwWqMcIx1LNPTavo9zQAkOEivdkJ36lWs1O5IubpaikkEWCuj6mqwvsyW_PyVGIg4PCEjOJi5d8sYW81LylgJs_EnWBCd1ruYnHJbl9Qwe_T7rrTYABIhuqnCZ-Ky7A2H3mjwvE9UnIS0rdgSi_gBSrO1HgIgzUsx6SqGPKP5kLSoPSGfeVVowpGQPBKJryZ_Tuorfu1Z0pNgjUGA"
        }
  recorded_at: Wed, 08 Jun 2022 07:01:16 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":"<CALENDAR_ID>"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Wed, 08 Jun 2022 07:01:16 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarList",
         "etag": "\"p32o9l7vqr7ffe0g\"",
         "nextSyncToken": "CLCan_rZ3vcCEhdjaGVja2hpZ2guYXBwQGdtYWlsLmNvbQ==",
         "items": [
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1652452990528000\"",
           "id": "zh-tw.taiwan#holiday@group.v.calendar.google.com",
           "summary": "台灣的節慶假日",
           "description": "台灣假日節慶",
           "timeZone": "Asia/Taipei",
           "colorId": "8",
           "backgroundColor": "#16a765",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1652452994031000\"",
           "id": "addressbook#contacts@group.v.calendar.google.com",
           "summary": "生日",
           "description": "顯示 Google 聯絡人中的聯絡人生日、週年紀念日和其他活動日期。",
           "timeZone": "Asia/Taipei",
           "colorId": "13",
           "backgroundColor": "#92e1c0",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1652453223661000\"",
           "id": "<CALENDAR_ID>",
           "summary": "<CALENDAR_ID>",
           "timeZone": "Asia/Taipei",
           "colorId": "14",
           "backgroundColor": "#9fe1e7",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "owner",
           "defaultReminders": [
            {
             "method": "popup",
             "minutes": 30
            }
           ],
           "notificationSettings": {
            "notifications": [
             {
              "type": "eventCreation",
              "method": "email"
             },
             {
              "type": "eventChange",
              "method": "email"
             },
             {
              "type": "eventCancellation",
              "method": "email"
             },
             {
              "type": "eventResponse",
              "method": "email"
             }
            ]
           },
           "primary": true,
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          }
         ]
        }
  recorded_at: Wed, 08 Jun 2022 07:01:17 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/freeBusy
    body:
      encoding: UTF-8
      string: '{"timeMin":"2022-05-01T00:00:00+08:00","timeMax":"2022-05-31T23:59:59+08:00","timeZone":"Asia/Taipei","items":[{"id":"<CALENDAR_ID>"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#freeBusy",
         "timeMin": "2022-04-30T16:00:00.000Z",
         "timeMax": "2022-05-31T15:59:59.000Z",
         "calendars": {
          "<CALENDAR_ID>": {
           "busy": [
            {
             "start": "2022-05-12T00:00:00+08:00",
             "end": "2022-05-13T00:00:00+08:00"
            },
            {
             "start": "2022-05-18T00:00:00+08:00",
             "end": "2022-05-19T00:00:00+08:00"
            },
            {
             "start": "2022-05-19T10:00:00+08:00",
             "end": "2022-05-19T12:00:00+08:00"
            }
           ]
          }
         }
        }
  recorded_at: Wed, 08 Jun 2022 07:01:17 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/<CALENDAR_ID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Wed, 08 Jun 2022 07:01:19 GMT
recorded_with: VCR 6.1.0
