---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=424a8b19-c572-457a-bb2a-68979bd727bc&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100450Z
      X-Amz-Content-Sha256:
      - 209260acdb254bdf5d791349b8886eda735e18843f781e8a387438f471be5e92
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=2b7b4180f69d2ce12bc3d68d964a19b4d41db370c77900307a7b04e398b09e60
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2882f601-cf8d-5867-a29f-96ae5f0f0c4c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>2882f601-cf8d-5867-a29f-96ae5f0f0c4c</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 27 May 2025 10:04:50 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=moonbear.survey.test%40gmail.com&Protocol=email&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100450Z
      X-Amz-Content-Sha256:
      - 498f5e2d7cf46b949f79aa8686450c5e0e6a33109b2a62a7b43aaa6640629230
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=5fed13f829e492d98cc358acf489a8e6157dcbfcd8d4a47dc426ecd41b68ad2d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '08720a8a-d54d-5d8d-9d0b-6a2545ce79a6'
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>08720a8a-d54d-5d8d-9d0b-6a2545ce79a6</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Tue, 27 May 2025 10:04:51 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100451Z
      X-Amz-Content-Sha256:
      - 4a0fbaceac8e36ac53b2c46a48f3bec2455c9aac264071c218833ff518538bc2
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=0e3456d7dc45b31243c70bf4eb04c368357122f5ba29fd7d833179db86fe61b8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9b22b6f5-452e-5f2f-a65b-d65ad5ad6b04
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions>
              <member>
                <Owner>155804318471</Owner>
                <Endpoint>moonbear.survey.test@gmail.com</Endpoint>
                <Protocol>email</Protocol>
                <SubscriptionArn>PendingConfirmation</SubscriptionArn>
                <TopicArn><AWS_TOPIC_ARN></TopicArn>
              </member>
            </Subscriptions>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>9b22b6f5-452e-5f2f-a65b-d65ad5ad6b04</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Tue, 27 May 2025 10:04:51 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100451Z
      X-Amz-Content-Sha256:
      - fbe09ea95840987d946a9169dd7219c307706f0785889f66868c3bb7c028f823
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=9eab9cbd9a4431d9cf578b2d7314e2b076d21b2a38fcc4f85f29c69814187226
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 6dd3be2b-e6ec-5390-995d-de84766fc7bb
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>6dd3be2b-e6ec-5390-995d-de84766fc7bb</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Tue, 27 May 2025 10:04:51 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100451Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=e7b9cc0348986092f43fc24183960eb7e8dc090d4043cb067a6e501e8692de44
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 66af8a1e-e75a-52be-b4dc-eab177d9b695
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>66af8a1e-e75a-52be-b4dc-eab177d9b695</RequestId>
        </ErrorResponse>
  recorded_at: Tue, 27 May 2025 10:04:51 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250529T173114Z
      X-Amz-Content-Sha256:
      - 9020bce0898a6d07a3c3378cbbc7a313988fa8579a81d9cac67fcf059c3c6fb3
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=c8b882523774be3023571a24e53822c461fdb557dc7038288f0a69bf184e7c82
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - ef32b4cd-a852-526b-81da-d47f34700fa7
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>ef32b4cd-a852-526b-81da-d47f34700fa7</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Thu, 29 May 2025 17:31:14 GMT
recorded_with: VCR 6.3.1
