---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 29 Apr 2022 08:07:50 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1MunJlVvw79nwFSkOopZUmN9kVtmP91fYzzedZGo0cl0/copy?access_token=ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw",
         "name": "visualization report spec sample 的副本",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Fri, 29 Apr 2022 08:07:53 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw/permissions?access_token=ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"3ITChjtPHgYvhV8oL4bBM0s7vb8\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 08:07:55 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 08:07:56 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Transform Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 08:07:57 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw",
          "properties": {
            "title": "Visual Report for Testing Transform Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (optional)"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet url",
              "source2",
              "C3:C141"
            ]
          ]
        }
  recorded_at: Fri, 29 Apr 2022 08:07:58 GMT
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"setDataValidation":{"range":{"sheetId":1802275621,"startRowIndex":1,"endRowIndex":2,"startColumnIndex":1,"endColumnIndex":2},"rule":{"condition":{"type":"ONE_OF_LIST","values":[]},"showCustomUi":true,"strict":false}}}]}'
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM9KpE6bUuDn6EoPUBj9UDaulEZj6GKAmDugbKYaC_GdJLnBSwwAfRPNvVht9cHhO1FF2TZGfsNPugjZ4VRNrcR0BerKP-OPk2MXLBtt1MEyJGUkNJue4_Ko-WId5OBSS6VBHbcZ1Gf4m6Zk4lICQkuYiOA
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 08:07:59 GMT
[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw/values/report_page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "report_page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Graph Title",
              "Data source (source_id)",
              "question",
              "chart type",
              "legend"
            ],
            [
              "source from moonbear",
              "source1",
              "please enter question's name_id",
              "bar",
              "yes"
            ],
            [
              "source from moonbear",
              "source1",
              "please enter question's name_id",
              "line"
            ],
            [
              "source from moonbear",
              "source1",
              "please enter question's name_id",
              "histogram"
            ],
            [
              "source from spreadsheet",
              "source2",
              "M3:M141",
              "histogram"
            ]
          ]
        }
  recorded_at: Fri, 29 Apr 2022 08:08:00 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1TTz-GsUYCe6uJxZFMz2kfc-lQ58M_hUBTAI8RjwKgOw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.A0ARrdaM8MvO2jws2Kp4ZdGlVGWgZZvdIfmFy9bFdM9WhwoD7ntlouZdpE0GgB0Wwy5ELNjfcKh3rFs7yp0g1somVmDP77gmMl7MmynxR9CIsfNPrvRJFPMXFuvDtK0XOnJSrSfMRM_J_hN6SxUuOVwuvK_Y7f8g8
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 29 Apr 2022 08:08:02 GMT
recorded_with: VCR 6.0.0
