---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.scripts https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/spreadsheets.readonly https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive.file openid",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImM2MjYzZDA5NzQ1YjUwMzJlNTdmYTZlMWQwNDFiNzdhNTQwNjZkYmQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJic1hoRm1xOUZkUWd2UnpDUTU2WXdBIiwiaWF0IjoxNjk2OTg1NjYzLCJleHAiOjE2OTY5ODkyNjN9.cP4ygPP7bNO5U6LZc3YXrHZUbMT21Pgc7Ms7zn8rVf8dWLTyKFpqy8fRnC1nrkY_RgcLayni96GTSjAzqu2i8Kme7CTk_67zC3bmxQR1KCqkZsFVJTrZs7RKajEpF8nwE0SeeTv_64r3dG2EKTCc9e2-e3HOALIO6Sf_6wMqMprAUAWhwnSDxm9CiAzC7aHvPOOvVG0-xyN5TcIikL38CVdDWBdm_dMOpl7jqe_q9QGvTAgsnbQobHlPtJdxKlDJWPTJXUsWQKINyA1nXKWVLxz3UrMdcPMt9djkzEiWyo8LmvdYJnZqAFNmbPxjc2OZzaJioOgoZP2zUzMclTGctw"
        }
  recorded_at: Wed, 11 Oct 2023 00:54:23 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw",
          "name": "File Test 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 11 Oct 2023 00:54:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"l1wuJAsMaYoE-uIo5WJ81QOqGBE\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw/permissions/02675581687761162384",
          "name": "SurveyMoonbear Test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Wed, 11 Oct 2023 00:54:44 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Wed, 11 Oct 2023 00:54:45 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:54:46 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw",
          "properties": {
            "title": "Visual Report for Testing Delete Services",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (cell range of spreadsheet e.g., C1:C5）"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet link",
              "source2"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:54:46 GMT
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"setDataValidation":{"range":{"sheetId":0,"startRowIndex":1,"endRowIndex":2,"startColumnIndex":1,"endColumnIndex":2},"rule":{"condition":{"type":"ONE_OF_LIST","values":[]},"showCustomUi":true,"strict":false}}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:54:47 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/19sgoXfwH1AvqMlcqpN6wjFjjuOyJCERQQzC5Qw3ckGw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 11 Oct 2023 00:54:48 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="insufficient_scope", scope="https://www.googleapis.com/auth/drive
        https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive.appfolder
        https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/drive.resource
        https://www.googleapis.com/auth/drive.photos.readonly"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Request had insufficient authentication scopes.",
            "errors": [
              {
                "message": "Insufficient Permission",
                "domain": "global",
                "reason": "insufficientPermissions"
              }
            ],
            "status": "PERMISSION_DENIED",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "ACCESS_TOKEN_SCOPE_INSUFFICIENT",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "drive.googleapis.com",
                  "method": "google.apps.drive.v3.DriveFiles.Copy"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 11 Nov 2024 15:44:24 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files//permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="insufficient_scope", scope="https://www.googleapis.com/auth/docs
        https://docs.google.com/feeds/ https://docs.google.com/feeds http://docs.google.com/feeds/
        https://docs.googleusercontent.com https://docs.googleusercontent.com/ https://docs.googleusercontent.com/feeds/download
        https://docs.googleusercontent.com/feeds/download/ https://docs.googleusercontent.com/feeds/
        http://docs.google.com/feeds http://docs.googleusercontent.com/ https://docs.google.com/feeds/default/private/full
        https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.file
        https://www.googleapis.com/auth/drive.resource"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 403,
            "message": "Request had insufficient authentication scopes.",
            "errors": [
              {
                "message": "Insufficient Permission",
                "domain": "global",
                "reason": "insufficientPermissions"
              }
            ],
            "status": "PERMISSION_DENIED",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "ACCESS_TOKEN_SCOPE_INSUFFICIENT",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "drive.googleapis.com",
                  "method": "google.apps.drive.v2.DrivePermissions.Insert"
                }
              }
            ]
          }
        }
  recorded_at: Mon, 11 Nov 2024 15:44:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files//permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Www-Authenticate:
      - Bearer realm="https://accounts.google.com/", error="insufficient_scope", scope="https://www.[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Delete Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html lang=en>
          <meta charset=utf-8>
          <meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width">
          <title>Error 404 (Not Found)!!1</title>
          <style>
            *{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}
          </style>
          <a href=//www.google.com/><span id=logo aria-label=Google></span></a>
          <p><b>404.</b> <ins>That’s an error.</ins>
          <p>The requested URL <code>/v4/spreadsheets/:batchUpdate</code> was not found on this server.  <ins>That’s all we know.</ins>
  recorded_at: Mon, 11 Nov 2024 15:44:26 GMT
recorded_with: VCR 6.3.1
