---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Thu, 25 Apr 2019 04:23:56 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs",
         "name": "Copy of Sample Survey",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Thu, 25 Apr 2019 04:23:58 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"O-ZzQh-gY65a42kIgC9WL9_4IwE/dFepX8R4Pr4HVX1fuSh2_EMmFSk\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "deleted": false
        }
  recorded_at: Thu, 25 Apr 2019 04:23:59 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Thu, 25 Apr 2019 04:24:00 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs",
          "replies": [
            {}
          ]
        }
  recorded_at: Thu, 25 Apr 2019 04:24:01 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs",
          "properties": {
            "title": "Survey for Testing",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      }
                    }
                  }
                }
              ]
            },
            {
              "properties": {
                "sheetId": 314856148,
                "title": "page2",
                "index": 1,
                "sheetType": "GRID",
                "gridPropert[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
              "title1",
              "Personal Informat[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1gKWXxC3hnLcXFUB2qwpLx8RzQqpXnxmpguCeoZbRabs
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"O-ZzQh-gY65a42kIgC9WL9_4IwE/vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Thu, 25 Apr 2019 04:24:13 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"-HwH-t_6uEq_p8GbJtmqj7G2LrY\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 06:40:25 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 06:40:26 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 06:40:26 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg",
          "properties": {
            "title": "Survey for Testing",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
         [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimens[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 29 Apr 2022 06:40:33 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "File not found: 1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg",
            "locationType": "other",
            "location": "file"
           }
          ],
          "code": 404,
          "message": "File not found: 1zBO0HJ09Q-yKkoRLA--SNjmNC4FMBDB9LbDfHSg92xg"
         }
        }
  recorded_at: Fri, 29 Apr 2022 06:40:35 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive openid https://www.googleapis.com/auth/calendar",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjM4ZjM4ODM0NjhmYzY1OWFiYjQ0NzVmMzYzMTNkMjI1ODVjMmQ3Y2EiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTY3MjMwMjY0OTY5MDQwNTE5NzgiLCJlbWFpbCI6ImNoZWNraGlnaC5hcHBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJ6TUdCZnZlZWZpanpRcFRLcUpzWE9BIiwiaWF0IjoxNjU0MDY4NjMzLCJleHAiOjE2NTQwNzIyMzN9.RTttb_0vVJcU1NJ2QKlMSrdoJfdG68fvMe_0l3A2efodThSmLx3qbo14eiW-UX8kkwcYLptETq-y0tEkb20W7qDF6Ln2J8ZUgRNB7JkPLCPC8hYYIjK2wp53DMPhx84vyGd37E02ZnZWgIyvIPZ2hkAEiOfTAczB24gAOLg1uO5hEA4tQuX7bXD63BzkdahI3yPhrYFaf5eqcuDc3n3gOptbWYBHkFE2INkJ7xfuUIJEZaVYpUEK4IReDr3cGG40oTMLGx1iIMXATQI3lVmO7IchHGdvgSArXSJYwuWuO5Nl8VZBol-_SalvLOV_fUD-pJ0uPCjMj4QsmNVs2h7cIA"
        }
  recorded_at: Wed, 01 Jun 2022 07:30:33 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"IRyEIt5g-upbqNzOO3ThD4D8lx8\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Wed, 01 Jun 2022 07:30:37 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Wed, 01 Jun 2022 07:30:37 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 01 Jun 2022 07:30:39 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDte[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimens[...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1x_boL0BQ2Z52A99Iixd0i8O-1UHYgjyFAuc87PkDteM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 01 Jun 2022 07:30:47 GMT
recorded_with: VCR 6.0.0
