---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Fri, 29 Apr 2022 07:47:35 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1ODMlObFb6d3fa7-MwUX72YVJnlRFUQwCU_05fEorSaA/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8",
         "name": "visualization report sample 的副本",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Fri, 29 Apr 2022 07:47:39 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"2lG4b19iErodoa9p7eYx7jjad9E\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 07:47:41 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 07:47:42 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 07:49:01 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1QCfvDA1kTvA-GZjeT45C2fl1R6DvIvbZt3-cGFGP-o8",
          "properties": {
            "title": "Visual Report for Testing Create Services",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"Nkj2fWGQ--PCVhFS3bETYSV29aI\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 07:51:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 07:51:46 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 07:52:12 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2Lqio[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (optional)"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet url",
              "source2",
              "C3:C141"
            ]
          ]
        }
  recorded_at: Fri, 29 Apr 2022 07:52:47 GMT
[...]
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"setDataValidation":{"range":{"sheetId":1802275621,"startRowIndex":1,"endRowIndex":2,"startColumnIndex":1,"endColumnIndex":2},"rule":{"condition":{"type":"ONE_OF_LIST","values":[]},"showCustomUi":true,"strict":false}}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 07:53:14 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1GGyY8R5k-XqGsvlCvym4HkmnGACgfmnobgxAi2LqioM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 29 Apr 2022 07:53:15 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1MunJlVvw79nwFSkOopZUmN9kVtmP91fYzzedZGo0cl0/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M",
         "name": "visualization report spec sample 的副本",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Fri, 29 Apr 2022 07:57:20 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"Fc-Oa_E5lW2pP8bLgp-GHQlR-hc\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Fri, 29 Apr 2022 07:57:22 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Fri, 29 Apr 2022 07:57:22 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M",
          "replies": [
            {}
          ]
        }
  recorded_at: Fri, 29 Apr 2022 07:57:23 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (optional)"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet url",
              "source2",
              "C3:C141"
            ]
          ]
        }
  recorded_at: Fri, 29 Apr 2022 07:57:24 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1KiYMWjYYZWi_RwiRW_kMNw95BTvK_Gv0a_dnUouEv_M
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Fri, 29 Apr 2022 07:57:26 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "openid https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/userinfo.profile",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6IjM4ZjM4ODM0NjhmYzY1OWFiYjQ0NzVmMzYzMTNkMjI1ODVjMmQ3Y2EiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTY3MjMwMjY0OTY5MDQwNTE5NzgiLCJlbWFpbCI6ImNoZWNraGlnaC5hcHBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJIWTRoNWU2aGlmb1IyOTNvOXhDNm1RIiwiaWF0IjoxNjU0MDY4NjY3LCJleHAiOjE2NTQwNzIyNjd9.RMIljIwZwnAiGjuCMAJ8qEDcgRSN8RySin52rJcyC2Zo2joKQBo1hzLxnNldUDnUBGdcaqK7htdZUAcdyR1XU9uH2OIY4aL_osPZz-EqVnr3XCMFu1SKqhIsFvhPiuNWgzkLeEUBP5KEpW99G9rOmgL0D-GRnBg0YogemffsA_nouetBK5TlIZmQu5tofXyU9yxzhwFrq3tPr7COW_0ETZkTth1QtTcgNwsPmkxa3T63U8MYrtxfHyslnpi6S9z86wvBwt2WzX3gE_F3Ok-oPVST115J_yltZ78aSn6n1mkcgwCoHFFI97qzhQkiKJFQ5ZkMaJubi8aWuIm3dFSO9A"
        }
  recorded_at: Wed, 01 Jun 2022 07:31:07 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1FZ0X6IViwNyVicVx7_5T5cQ4Vtnt9fk8ilWVegBOKlo/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w",
         "name": "visualization report sample 的副本",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 01 Jun 2022 07:31:09 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"BHy3NIQHQ4NTJQ6bKV_Pw235aXU\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Wed, 01 Jun 2022 07:31:11 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Wed, 01 Jun 2022 07:31:11 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Visual
        Report for Testing Create Services"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 01 Jun 2022 07:31:12 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_[...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (optional)"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet url",
              "source2",
              "C3:C141"
            ]
          ]
        }
  recorded_at: Wed, 01 Jun 2022 07:31:13 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1IhCddGYltoWCYWPnn5LSZ_WLY3jbgsGTctjuLQwZT_w
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 01 Jun 2022 07:31:14 GMT
recorded_with: VCR 6.0.0
