---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=3dd03746-b635-4b24-b2f1-49e2c890e7e1&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101005Z
      X-Amz-Content-Sha256:
      - '09fc8d8cb338cdc06afdb79254a5925cc2d53f3d1e50917019cd004ab9c5f75e'
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=febe475b4ae2d3351afb18b747a3252cb7a8e5ed260dba0b5cfb4c09296d9925
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 5a5f8431-a346-5e3f-9992-e486d9f890b1
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>5a5f8431-a346-5e3f-9992-e486d9f890b1</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:06 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=moonbear.survey.test%40gmail.com&Protocol=email&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101006Z
      X-Amz-Content-Sha256:
      - 370cc34de49f5bb26e26c776910837990e5f5b5e4bfd5d9a9162d90291ee5ce4
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=26c236b1d6f6c0e20dded7b54675b5ffab3d1207eb70f128d0b8b104319b46e8
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 31cd6c3c-8146-58d1-8be0-0c8bfbf83c3a
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>31cd6c3c-8146-58d1-8be0-0c8bfbf83c3a</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:06 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101006Z
      X-Amz-Content-Sha256:
      - e62794322f24dd25615fa49530136f08e120ba418bd3c1aed6b6f28ccc9bd62c
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=e8a61b1599e972b436a2c570692c7c06eadacbc97ab9a1dbc009acc1fbc13945
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - c6f123ea-984b-5add-887e-435de2f4c269
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions>
              <member>
                <Owner>155804318471</Owner>
                <Endpoint>moonbear.survey.test@gmail.com</Endpoint>
                <Protocol>email</Protocol>
                <SubscriptionArn>PendingConfirmation</SubscriptionArn>
                <TopicArn><AWS_TOPIC_ARN></TopicArn>
              </member>
            </Subscriptions>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>c6f123ea-984b-5add-887e-435de2f4c269</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:07 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101007Z
      X-Amz-Content-Sha256:
      - fcf1612ff780ca7aeebaba3c44c266012f9249dc34d8d533328748ff78068f2d
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=41b65cd594323508403d0b39d06b4b19bfb490476dc25c7294c325bca22dfb64
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 21480bc3-9fa7-5eea-a8ad-6b74e518cddf
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>21480bc3-9fa7-5eea-a8ad-6b74e518cddf</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:07 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250602T101007Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=fdbad9ad34e6a4bf3852b7799d71342f6e6f1755ec618d76ca2f228510fbefab
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 28ccd3cf-d678-5c57-84a4-b378acb8517e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>28ccd3cf-d678-5c57-84a4-b378acb8517e</RequestId>
        </ErrorResponse>
  recorded_at: Mon, 02 Jun 2025 10:10:08 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250610T090025Z
      X-Amz-Content-Sha256:
      - 8e5f5ac23a8f14536a4dd5d05ee404f9cc105aba93aebcf0f09b077eaa2c7ccd
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=1108240bb33dd6d975c1075cc80e588a25f1ed57d905969e20759cefc6a4be24
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9ae13250-6226-5bc4-a4fb-5291944fe5bf
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>9ae13250-6226-5bc4-a4fb-5291944fe5bf</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Tue, 10 Jun 2025 09:00:25 GMT
recorded_with: VCR 6.1.0
