---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=99dd4e6a-eae1-40be-99e5-ed1aaacd84e6&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T092329Z
      X-Amz-Content-Sha256:
      - 4c3a0dd052ee2d59ff88f6361dafe51ddf74f30d7e0455d7b481da9a8671efaf
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=af5680d347cd0bada93281f2960be96617ccfc6a48d2ce875f8572bc42e15152
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e5700eee-76fd-5126-a531-55f41a2c3db3
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>e5700eee-76fd-5126-a531-55f41a2c3db3</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 08 Jun 2022 09:23:29 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T092329Z
      X-Amz-Content-Sha256:
      - 1c9b4a9001d37486ebe7e4e7f736e094c387dea41d1db4a2e7e608b3da0b4584
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=e19395f40e821cc3b967390a546bc2269f6cd0bbc34a3605e0d3ee0be8a225ca
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2ca2bc58-ebd3-563d-9c80-e7428702b16f
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>2ca2bc58-ebd3-563d-9c80-e7428702b16f</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 08 Jun 2022 09:23:29 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T092329Z
      X-Amz-Content-Sha256:
      - 49504860dc2e888c27da81c80f3d34de5e53ceef3410d12d56177e64af93bd46
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=623092cfddee0bbd4133e7aae68ae7c666900c758e3f59f6dce2ee7d76da7735
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - dc721585-acd7-5e43-a1e7-4e9fc005c72c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>dc721585-acd7-5e43-a1e7-4e9fc005c72c</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 08 Jun 2022 09:23:30 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230324T113347Z
      X-Amz-Content-Sha256:
      - c1b4161c6164059e57e6e0acc5d852eca37ed18fb065a653e50bebec7913543e
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=75c6756d812b04e9536ca0059ee19ef4116180745c7001a5153f8e64bcb5244d
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - fd887081-9a0f-5820-9ebd-2c1616d464db
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>fd887081-9a0f-5820-9ebd-2c1616d464db</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Fri, 24 Mar 2023 11:33:47 GMT
recorded_with: VCR 6.1.0
