---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI/permissions?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "File not found: 1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
            "errors": [
              {
                "message": "File not found: 1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
                "domain": "global",
                "reason": "notFound",
                "location": "file",
                "locationType": "other"
              }
            ]
          }
        }
  recorded_at: Mon, 27 Oct 2025 08:26:56 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 404,
            "message": "File not found: 1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
            "errors": [
              {
                "message": "File not found: 1uQR5knDlumrFGJCeV_PU13IG_5SNee45S7c2PBKBmkI",
                "domain": "global",
                "reason": "notFound",
                "location": "file",
                "locationType": "other"
              }
            ]
          }
        }
  recorded_at: Mon, 27 Oct 2025 08:27:16 GMT
recorded_with: VCR 6.1.0
