---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=f6406db9-7851-4451-bd16-7818c32f271b&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T163444Z
      X-Amz-Content-Sha256:
      - 7118d835bc0dd820e6332cf2f09acdcb9a5ede29725d551b0ff0ca165d571107
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=9f63568224afb86117b11fe10723c90b4dd5a9874b8f1e8d48faeb3eae4c6884
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - eed2ea4a-8086-5f58-a82d-b15051624820
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>eed2ea4a-8086-5f58-a82d-b15051624820</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 08 Jun 2022 16:34:44 GMT
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets openid https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6Ijc0ODNhMDg4ZDRmZmMwMDYwOWYwZTIyZjNjMjJkYTVmZTM5MDZjY2MiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJhdWQiOiI0NzQ4ODY1MDM1NzgtY2diaDZydTR1bnYzY2s0dml1cDI0cm0wa3JiZzA2ZDAuYXBwcy5nb29nbGV1c2VyY29udGVudC5jb20iLCJzdWIiOiIxMTY3MjMwMjY0OTY5MDQwNTE5NzgiLCJlbWFpbCI6ImNoZWNraGlnaC5hcHBAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJ0Q0xwMTBYYTI4SHZreHZsb05rek5RIiwiaWF0IjoxNjU0NzA2MDg0LCJleHAiOjE2NTQ3MDk2ODR9.VSdVFmwQFiDE4iLieSeEc-Taw0QU9NLFwG1dRo9JRJHMuXncUGHz9Oo9sgJ4nRyL9cImTa5FLym-_C4N8JO0Zc32xICgyTCWXelTfY9VN00tYM8H5oGCFRvDY4un7nTHYYNeshZ7EHsPr-9E4y9mYYdjuDi0xduaQWWcEfqrdJTmTdQT86kJ6evH6GGz2WXaeCwx2EF3tNdhc74jqKR58KuQ9T_94hRz7A7dyFHLNUyeX3UPyUX2nzp3EVfmZGCkv_M5HW9jfuWkaxMlUTmMMTUqhz3-QW46eM3_NyBoZedX-9ID0peO6ykWYg1CMorsqNnLmyxrKuJT4t-s6M2Dpw"
        }
  recorded_at: Wed, 08 Jun 2022 16:34:44 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc",
         "name": "sample survey 的副本",
         "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 08 Jun 2022 16:34:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "etag": "\"v_p4ksdcedbYUYyoD61qGZBtaaQ\"",
         "id": "02675581687761162384",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc/permissions/02675581687761162384",
         "name": "SurveyMoonbear Test",
         "emailAddress": "moonbear.survey.test@gmail.com",
         "domain": "gmail.com",
         "role": "writer",
         "type": "user",
         "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
         "deleted": false,
         "pendingOwner": false
        }
  recorded_at: Wed, 08 Jun 2022 16:34:49 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#permission",
         "id": "anyoneWithLink",
         "type": "anyone",
         "role": "reader",
         "allowFileDiscovery": false
        }
  recorded_at: Wed, 08 Jun 2022 16:34:50 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Create Notification"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 08 Jun 2022 16:34:51 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc",
          "properties": {
            "title": "Survey for Testing Create Notification",
            "locale": "zh_TW",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Shanghai",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            }
          },
          "sheets": [
            {
              "properties": {
                "sheetId": 1041538561,
                "title": "page1",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 999,
                  "columnCount": 26
                }
              },
              "conditionalFormats": [
                {
                  "ranges": [
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 1,
                      "endRowIndex": 12,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    },
                    {
                      "sheetId": 1041538561,
                      "startRowIndex": 12,
                      "endRowIndex": 16,
                      "startColumnIndex": 1,
                      "endColumnIndex": 2
                    }
                  ],
                  "booleanRule": {
                    "condition": {
                      "type": "CUSTOM_FORMULA",
                      "values": [
                        {
                          "userEnteredValue": "=REGEXMATCH(B2, \"\\W\")"
                        }
                      ]
                    },
                    "format": {
                      "backgroundColor": {
                        "red": 0.95686275,
                        "green": 0.78039217,
                        "blue": 0.7647059
                      },
                      "backgroundColorStyle": {
                        "rgbColor": {
                          "red": 0.95686275,
                          "green": 0.78039217,
                          "blue": 0.7647059
                        }
                      }
                    }
     [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc/values/page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "range": "page1!A1:Z999",
          "majorDimension": "ROWS",
          "values": [
            [
              "Type",
              "Name (should be unique)",
              "Description",
              "Required?(1:Yes, 0:No)",
              "Options",
              "Flow logic"
            ],
            [
              "Description",
              "survey_description",
              "Hi, everyone. This is a sample survey."
            ],
            [
              "Divider"
            ],
            [
              "Section Title",
         [...]
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1lK483Hdu2vwftSzQSfPXIONLxZIBRd4y4FpsupquIRc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 08 Jun 2022 16:34:53 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T163453Z
      X-Amz-Content-Sha256:
      - 15aa804eca543057cd0079dc9385688ae69b577b921b32bc07d825f19a6a2a00
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=79c8c7499592ce70428784403208c40247ce1e45d95c78db553b3cbef1762b88
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 97b248a4-3cca-5d3a-a7a9-13beed276246
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>97b248a4-3cca-5d3a-a7a9-13beed276246</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 08 Jun 2022 16:34:53 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20220608T163453Z
      X-Amz-Content-Sha256:
      - 5d0ffd1973c778f1a3745a6bb5e90aca43df563ca433c86e353888a299841acc
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=93913fa08aa91eeef75e25c8f0e74d70080349067e4cda03e1e006cef86359f9
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 9fb29362-f5ca-53be-81a4-c8782424609c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>9fb29362-f5ca-53be-81a4-c8782424609c</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 08 Jun 2022 16:34:54 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230324T081619Z
      X-Amz-Content-Sha256:
      - 845f81ea97f19058622eeeceec1c67fba1f56173669d25d58b26e34e25c33b2e
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=203cf25c3cf08d6fd0b03770cc6226785ba80e79438ee7f262f370719e9febde
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cb481c22-6e1f-548e-8dff-40b5308bbaef
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>cb481c22-6e1f-548e-8dff-40b5308bbaef</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Fri, 24 Mar 2023 08:16:20 GMT
recorded_with: VCR 6.1.0
