---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive.metadata openid https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.scripts https://www.googleapis.com/auth/drive.readonly https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/spreadsheets.readonly https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/drive",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImM2MjYzZDA5NzQ1YjUwMzJlNTdmYTZlMWQwNDFiNzdhNTQwNjZkYmQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJxT1ZNSmtoTkFFUDFpeFFEYW1ucndRIiwiaWF0IjoxNjk2OTg1Njg4LCJleHAiOjE2OTY5ODkyODh9.Q0kIuXZigL6dfDMGWxv-pnUakrtvDg033DRuEotHd5JBr55Pi3O8_pSLAkutupDgBNT9D5_k1UCMrQdtEMWJiBc_dqMfshUFL_LDHUgDrU_5OzWFIh3dQESgDJEUjuEnzGtCy8UJVZId6z2n3wwslNOKnIcGLhy4-z3vnrBzmeZD86jch36BDVOg11xSKiiMvFvz6yH64gIPGnZeXxnIjNp3GYXnf7QLF6pcUjiOIRNAUAZpYrff-aEXjImJMiDZEfVdoG0DlxGhswoyVaH_meQqWD4eNQeaVC2FywXVh6dK7b9xx_p6j9stz_DxqJD22rTQYX5QrOp_k1nR3t6uMQ"
        }
  recorded_at: Wed, 11 Oct 2023 00:54:48 GMT
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: '{"id":"<CALENDAR_ID>"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Wed, 11 Oct 2023 00:54:49 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#calendarList",
         "etag": "\"p32c9jom0kvf820o\"",
         "nextSyncToken": "CJiZ4sCn3oEDEhl0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3",
         "items": [
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1670932759696000\"",
           "id": "<CALENDAR_ID>",
           "summary": "<CALENDAR_ID>",
           "timeZone": "Asia/Taipei",
           "colorId": "14",
           "backgroundColor": "#9fe1e7",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "owner",
           "defaultReminders": [
            {
             "method": "popup",
             "minutes": 10
            }
           ],
           "notificationSettings": {
            "notifications": [
             {
              "type": "eventCreation",
              "method": "email"
             },
             {
              "type": "eventChange",
              "method": "email"
             },
             {
              "type": "eventCancellation",
              "method": "email"
             },
             {
              "type": "eventResponse",
              "method": "email"
             }
            ]
           },
           "primary": true,
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1670932761130000\"",
           "id": "zh-tw.taiwan#holiday@group.v.calendar.google.com",
           "summary": "台灣的節慶假日",
           "description": "台灣假日節慶",
           "timeZone": "Asia/Taipei",
           "colorId": "8",
           "backgroundColor": "#16a765",
           "foregroundColor": "#000000",
           "selected": true,
           "accessRole": "reader",
           "defaultReminders": [],
           "conferenceProperties": {
            "allowedConferenceSolutionTypes": [
             "hangoutsMeet"
            ]
           }
          },
          {
           "kind": "calendar#calendarListEntry",
           "etag": "\"1670932[...]
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/freeBusy
    body:
      encoding: UTF-8
      string: '{"timeMin":"2022-05-01T00:00:00+08:00","timeMax":"2022-05-31T23:59:59+08:00","timeZone":"Asia/Taipei","items":[{"id":"<CALENDAR_ID>"}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#freeBusy",
         "timeMin": "2022-04-30T16:00:00.000Z",
         "timeMax": "2022-05-31T15:59:59.000Z",
         "calendars": {
          "<CALENDAR_ID>": {
           "busy": []
          }
         }
        }
  recorded_at: Wed, 11 Oct 2023 00:54:51 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/users/me/calendarList/<CALENDAR_ID>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "calendar",
            "reason": "cannotChangeOwnPrimarySubscription",
            "message": "Cannot change your subscription to your own primary calendar."
           }
          ],
          "code": 403,
          "message": "Cannot change your subscription to your own primary calendar."
         }
        }
  recorded_at: Wed, 11 Oct 2023 00:54:55 GMT
[...]
