---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=7b303133-1403-4d2a-99f2-ebddca55b74d&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005421Z
      X-Amz-Content-Sha256:
      - bcc63719f1fde9b21a89f5e163bcf0393871a952a74c096b6ee784d329d92778
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=a03d9758bec2b79a05c2444f2ffcf3460077a9cb64f14aace52adad8b18ae746
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4136722d-696f-5259-b469-2fb29d12308c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>4136722d-696f-5259-b469-2fb29d12308c</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:54:21 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Subscribe&Endpoint=moonbear.survey.test%40gmail.com&Protocol=email&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005421Z
      X-Amz-Content-Sha256:
      - '02083d23c1cfce05462ea02a0d570cf46202bcb00f08a2c91df80a35709ba40d'
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=775d03c3d7f7723a4c2fbca01539c6741e87d6ceca8ad29a060d9f154fc57024
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 840cf9e0-b530-5204-abb9-a47f414dff90
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <SubscribeResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <SubscribeResult>
            <SubscriptionArn>pending confirmation</SubscriptionArn>
          </SubscribeResult>
          <ResponseMetadata>
            <RequestId>840cf9e0-b530-5204-abb9-a47f414dff90</RequestId>
          </ResponseMetadata>
        </SubscribeResponse>
  recorded_at: Wed, 11 Oct 2023 00:54:22 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005422Z
      X-Amz-Content-Sha256:
      - 965be38510efcc4ef864bc233d8377142be28943565ce83ab5af136bd4061930
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=6e20a4a54fdd0c5e30acd12295a394b6dd30f298b500e4a30a7df565395f437b
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 749908a5-8628-5120-a82f-553a72564375
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions>
              <member>
                <Owner>662471544988</Owner>
                <Endpoint>moonbear.survey.test@gmail.com</Endpoint>
                <Protocol>email</Protocol>
                <SubscriptionArn>PendingConfirmation</SubscriptionArn>
                <TopicArn><AWS_TOPIC_ARN></TopicArn>
              </member>
            </Subscriptions>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>749908a5-8628-5120-a82f-553a72564375</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:54:22 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005422Z
      X-Amz-Content-Sha256:
      - ea5ec77dc15de4e5479bc9a9ce0a97a7c0a65a323fc0343d1b422a8774cf57f0
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=5b930ecd23138d6d212ed75cff384e98ddf72c5487f4557c24094a058d3dae10
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 1656fc58-1c7a-567e-aac5-a1c7e804ebae
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>1656fc58-1c7a-567e-aac5-a1c7e804ebae</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:54:22 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005422Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=6d60c2b8d83bff46708ce4c7bbcd67dd30312128da6eb97166a4f9cd68ca4e7e
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - cba9b041-4ad8-5e77-8748-eddebea6bc00
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>cba9b041-4ad8-5e77-8748-eddebea6bc00</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 11 Oct 2023 00:54:22 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=Unsubscribe&SubscriptionArn=aws%3Aarn%3Afor%3Atest%3Aconfirm&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005648Z
      X-Amz-Content-Sha256:
      - 3e6e69a5b6de603e4e9bbb8d0d5d248ca16c30d4b7bd8a1eafc4254832f2f6ae
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=7c408a1fb621f68b157d064233e28b603badb73805bd452d059ad9564b3f4b13
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - ad895918-77bb-52eb-aef2-048782abf07c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ErrorResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <Error>
            <Type>Sender</Type>
            <Code>InvalidParameter</Code>
            <Message>Invalid parameter: SubscriptionArn Reason: An ARN must have at least 6 elements, not 5</Message>
          </Error>
          <RequestId>ad895918-77bb-52eb-aef2-048782abf07c</RequestId>
        </ErrorResponse>
  recorded_at: Wed, 11 Oct 2023 00:56:48 GMT
recorded_with: VCR 6.1.0
