---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=e7efbb7b-a2f3-4e31-8d16-bd8ba6f5b008&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100609Z
      X-Amz-Content-Sha256:
      - aae1b0494f9d32a498e2bd093162371a5a3561e06c79cf19a2964eb0a7d1ae74
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=513309deaf7b86e7b218c888b3751031fb84fddbaab96591e8f3dee3723eff08
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 7084d0be-f1d9-5da2-b8c4-b011610bedd8
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>7084d0be-f1d9-5da2-b8c4-b011610bedd8</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Tue, 27 May 2025 10:06:09 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100609Z
      X-Amz-Content-Sha256:
      - dcfaa8d81a6111702238198671638baafb2ac6b3eac6d28c5956d2f199c6a883
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=d507c882f61c0d3085888cd5bc3ae7afa289acb629d850e1c01092b9eaddad51
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - a50738bc-e036-508f-8bf2-581370e4f0f5
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>a50738bc-e036-508f-8bf2-581370e4f0f5</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Tue, 27 May 2025 10:06:09 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250527T100609Z
      X-Amz-Content-Sha256:
      - fd8f928dbda443c4f4d02ace7f217b18a7dd75b6c596d97e7758a74ac65b0edc
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=d1d4ba49dec8201a7610b070b34dc1c151c6259e5db7b0a1b79659635c54c48c
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 8941911b-c922-5ca8-b335-f1b459f0dcd2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>8941911b-c922-5ca8-b335-f1b459f0dcd2</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Tue, 27 May 2025 10:06:10 GMT
[...]
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20250529T173056Z
      X-Amz-Content-Sha256:
      - cab6e799892449b773299a69ac086319c3c771111e820a408e3891d8e8762065
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=b79a331fa355a114940efc693fc37658f5fe49a13d7ce10ed8645b7918338a41
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2069bf28-c73f-5489-8a3e-df9a5b2f7b71
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>2069bf28-c73f-5489-8a3e-df9a5b2f7b71</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Thu, 29 May 2025 17:30:56 GMT
recorded_with: VCR 6.3.1
