---
http_interactions:
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=CreateTopic&Name=e1c97e7f-c25d-494c-b2ba-9cd2b5e1b49d&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005543Z
      X-Amz-Content-Sha256:
      - 013c3cd8f5af2d8b991a64cc5e5bf9950ed7961923d5037a27da392bfa5243ad
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=ffe24dd20fa177fd5273ea262942ebeed5088c78cf08d6703f0fd1d8061d2450
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e66def00-a6d3-5969-aede-b29f521c3772
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <CreateTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <CreateTopicResult>
            <TopicArn><AWS_TOPIC_ARN></TopicArn>
          </CreateTopicResult>
          <ResponseMetadata>
            <RequestId>e66def00-a6d3-5969-aede-b29f521c3772</RequestId>
          </ResponseMetadata>
        </CreateTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:43 GMT
- request:
    method: post
    uri: https://oauth2.googleapis.com/token?client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>&grant_type=refresh_token&refresh_token=<REFRESH_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token": "<ACCESS_TOKEN>",
          "expires_in": 3599,
          "scope": "https://www.googleapis.com/auth/calendar https://www.googleapis.com/auth/drive.file https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/spreadsheets.readonly https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/drive.appdata https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/drive.photos.readonly https://www.googleapis.com/auth/drive.scripts openid https://www.googleapis.com/auth/drive.metadata https://www.googleapis.com/auth/drive.metadata.readonly https://www.googleapis.com/auth/drive.readonly",
          "token_type": "Bearer",
          "id_token": "eyJhbGciOiJSUzI1NiIsImtpZCI6ImM2MjYzZDA5NzQ1YjUwMzJlNTdmYTZlMWQwNDFiNzdhNTQwNjZkYmQiLCJ0eXAiOiJKV1QifQ.eyJpc3MiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20iLCJhenAiOiIxMDM3NzU2OTkyOTExLXNlM29ucGpvMG1hODVtMjZsZmYycG9jMHJ2bzg4bnZwLmFwcHMuZ29vZ2xldXNlcmNvbnRlbnQuY29tIiwiYXVkIjoiMTAzNzc1Njk5MjkxMS1zZTNvbnBqbzBtYTg1bTI2bGZmMnBvYzBydm84OG52cC5hcHBzLmdvb2dsZXVzZXJjb250ZW50LmNvbSIsInN1YiI6IjEwNTM4Mjk0OTUxODIyNTcxNzc4OSIsImhkIjoiaXNzLm50aHUuZWR1LnR3IiwiZW1haWwiOiJ0YXlsb3Iud3VAaXNzLm50aHUuZWR1LnR3IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsImF0X2hhc2giOiJwRjVRZy14cnVld084TW0wODZmTFJBIiwiaWF0IjoxNjk2OTg1NzQzLCJleHAiOjE2OTY5ODkzNDN9.zUQf3ZC5M--C9kbWKFkg9HbdTUJ-YbHn1cSj8fCP9tB8ovHN3n79UljqWrIhNJapp_GfRzL0JcX1Kw0x2r2yr_mh6JRzbDFUkCHkbjqOFTeARcHcvRtKSZR9EAPR4nDK3vbzyqzpkemW6y4n_O3oQDsh9jYHC_EgkL33O4uRtXMb2HAWPsKv1zztcXtWhxIGA4xMsYkkgc-xEu7-EqtuOw9RYISb59Qt2D35pP9uPhvvtPtsViUll5Y7DxGSeXRqtWrfQENBaIC-Nzh1tug_iKgD0-TQdKJTUs-8ZuQSvgcFTC2B7yqeW67yYsvbL5I2Q3Es3eYZg5xpYsjR5OhKwg"
        }
  recorded_at: Wed, 11 Oct 2023 00:55:43 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/<SAMPLE_FILE_ID>/copy?access_token=<ACCESS_TOKEN>
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#file",
          "id": "1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw",
          "name": "File Test 的副本",
          "mimeType": "application/vnd.google-apps.spreadsheet"
        }
  recorded_at: Wed, 11 Oct 2023 00:55:46 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw/permissions?access_token=<ACCESS_TOKEN>&sendNotificationEmails=false
    body:
      encoding: UTF-8
      string: '{"role":"writer","type":"user","value":"moonbear.survey.test@gmail.com"}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "etag": "\"N3g5Lop-qruEYrQ2-TSCLGks5lY\"",
          "id": "02675581687761162384",
          "selfLink": "https://www.googleapis.com/drive/v2/files/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw/permissions/02675581687761162384",
          "name": "SurveyMoonbear Test",
          "emailAddress": "moonbear.survey.test@gmail.com",
          "domain": "gmail.com",
          "role": "writer",
          "type": "user",
          "photoLink": "https://lh3.googleusercontent.com/a/default-user=s64",
          "deleted": false,
          "pendingOwner": false
        }
  recorded_at: Wed, 11 Oct 2023 00:55:49 GMT
- request:
    method: post
    uri: https://www.googleapis.com/drive/v3/files/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw/permissions
    body:
      encoding: UTF-8
      string: '{"role":"reader","type":"anyone"}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "kind": "drive#permission",
          "id": "anyoneWithLink",
          "type": "anyone",
          "role": "reader",
          "allowFileDiscovery": false
        }
  recorded_at: Wed, 11 Oct 2023 00:55:50 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSpreadsheetProperties":{"properties":{"title":"Survey
        for Testing Create Notification"},"fields":"title"}}]}'
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/json; charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw",
          "replies": [
            {}
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:55:51 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw",
          "properties": {
            "title": "Survey for Testing Create Notification",
            "locale": "en_US",
            "autoRecalc": "ON_CHANGE",
            "timeZone": "Asia/Hong_Kong",
            "defaultFormat": {
              "backgroundColor": {
                "red": 1,
                "green": 1,
                "blue": 1
              },
              "padding": {
                "top": 2,
                "right": 3,
                "bottom": 2,
                "left": 3
              },
              "verticalAlignment": "BOTTOM",
              "wrapStrategy": "OVERFLOW_CELL",
              "textFormat": {
                "foregroundColor": {},
                "fontFamily": "arial,sans,sans-serif",
                "fontSize": 10,
                "bold": false,
                "italic": false,
                "strikethrough": false,
                "underline": false,
                "foregroundColorStyle": {
                  "rgbColor": {}
                }
              },
              "backgroundColorStyle": {
                "rgbColor": {
                  "red": 1,
                  "green": 1,
                  "blue": 1
                }
              }
            },
            "spreadsheetTheme": {
              "primaryFontFamily": "Arial",
              "themeColors": [
                {
                  "colorType": "TEXT",
                  "color": {
                    "rgbColor": {}
                  }
                },
                {
                  "colorType": "BACKGROUND",
                  "color": {
                    "rgbColor": {
                      "red": 1,
                      "green": 1,
                      "blue": 1
                    }
                  }
                },
                {
                  "colorType": "ACCENT1",
                  "color": {
                    "rgbColor": {
               [...]
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw/values/sources
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "sources!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "source_type",
              "source_name",
              "source_id",
              "case_id (cell range of spreadsheet e.g., C1:C5）"
            ],
            [
              "surveymoonbear",
              "",
              "source1"
            ],
            [
              "spreadsheet",
              "please enter a google spreadsheet link",
              "source2"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:55:52 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw/values/report%20page1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-L2-Request-Path:
      - l2-managed-6
    body:
      encoding: UTF-8
      string: |
        {
          "range": "'report page1'!A1:Z1000",
          "majorDimension": "ROWS",
          "values": [
            [
              "Graph Title",
              "Data source (source_id)",
              "question name_id / spreadsheet cell range",
              "chart type",
              "legend"
            ],
            [
              "source from moonbear",
              "source1",
              "please enter question's name_id",
              "bar",
              "yes"
            ],
            [
              "source from spreadsheet",
              "source2",
              "M3:M141",
              "histogram"
            ]
          ]
        }
  recorded_at: Wed, 11 Oct 2023 00:55:52 GMT
[...]
- request:
    method: delete
    uri: https://www.googleapis.com/drive/v2/files/1KLysJg5D0YqBTqMBIAimh8mQmwaT41A-U5dzRChmCtw
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Etag:
      - '"vyGp6PvFo4RvsFtPoIWeCReyIC8"'
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 11 Oct 2023 00:55:53 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=ListSubscriptionsByTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005553Z
      X-Amz-Content-Sha256:
      - '09e65f6c35c39787ec5d60a8822410be0f577c2cef9b721d7a4a0a1f24fbf8e3'
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=13ef2c24d449e3ecc7be5849552b7b8611e0f6ad4c0573a3fc57a74a8775f0a1
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 57a00022-b7ed-58ae-b9bc-5dbd43343b99
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <ListSubscriptionsByTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ListSubscriptionsByTopicResult>
            <Subscriptions/>
          </ListSubscriptionsByTopicResult>
          <ResponseMetadata>
            <RequestId>57a00022-b7ed-58ae-b9bc-5dbd43343b99</RequestId>
          </ResponseMetadata>
        </ListSubscriptionsByTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:53 GMT
- request:
    method: post
    uri: https://sns.ap-northeast-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DeleteTopic&TopicArn=<AWS_TOPIC_ARN>&Version=2010-03-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20231011T005553Z
      X-Amz-Content-Sha256:
      - a6ce7cb3244c4a339dfc58ff008cc01e4aec5f19a7e79620cfd21e997579cf06
      Authorization:
      - AWS4-HMAC-SHA256 <ACCESS_TOKEN> SignedHeaders=content-type;host;x-amz-content-sha256;x-amz-date,
        Signature=29ef01630b634b7ddb9192e3ef19ba45731e2ed5ec6df730e936d21c290e5ee0
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 2f809660-bf89-5422-826a-cbff4b53dcfe
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DeleteTopicResponse xmlns="http://sns.amazonaws.com/doc/2010-03-31/">
          <ResponseMetadata>
            <RequestId>2f809660-bf89-5422-826a-cbff4b53dcfe</RequestId>
          </ResponseMetadata>
        </DeleteTopicResponse>
  recorded_at: Wed, 11 Oct 2023 00:55:54 GMT
recorded_with: VCR 6.1.0
